{% extends 'department/index.html' %}

{% load staticfiles %}

{% block head-title-content %}News{% endblock %}

{% block xhead-extra-links %}
  <link href="{% static 'news/css/news-style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}

{% block slider %}{% endblock %}
{% block container-focus-on %}{% endblock %}
{% block container-facts %}{% endblock %}
{% block container-technologies %}{% endblock %}
{% block container-advertisements %}{% endblock %}
{% block container-partners %}{% endblock %}

{% block container-news-show-more-container-large %}{% endblock %}
{% block container-news-show-more-container-medium %}{% endblock %}
{% block container-news-show-more-container-small %}{% endblock %}

{% block xcontainer-news %}
    <!-- Pagination -->
    <div class="col s12 center-align">
        <ul class="pagination">
            <li class="disabled edge"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
            <li class="active"><a href="#!">1</a></li>
            <li class="waves-effect"><a href="#!">2</a></li>
            <li class="waves-effect"><a href="#!">3</a></li>
            <li class="waves-effect"><a href="#!">4</a></li>
            <li class="waves-effect"><a href="#!">5</a></li>
            <li class="waves-effect edge"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
        </ul>
    </div>
{% endblock %}

{% block container-extra %}
    <!-- Search -->
    <div class="col s12 hide-on-med-and-down">
        <h4>Пошук</h4>
        <div class="divider simple-blue"></div>
        <div class="search">
            <form class="">
                <div class="row">
                  <div class="col s10">
                    <input class="" type="text" placeholder="Шукати тут..." required/>
                  </div>
                  <div class="col s2">
                    <button class="waves-effect waves-light btn blue-dark" type="submit"><i class="material-icons">search</i></button>
                  </div>
                </div>         
            </form>
        </div>
    </div>
    <!-- End Search -->
    <!-- Advertisments Large-->
    <div id="advertisments_block" class="col s12 hide-on-med-and-down">
        <h4>Оголошення Large</h4>
        <div class="divider simple-blue"></div>
        <div class="row advertisment valign-wrapper">
            <div class="col s3">
                <img src="{% static 'department/images/student.jpg' %}" alt="" class="responsive-img">
            </div>
            <div class="col s9 valign">
                <span class="advertisment-title"><a href="#">Advertisment title</a></span>
            </div>
            </div>
            <div class="divider"></div>
            <div class="row advertisment valign-wrapper">
              <div class="col s3">
                <img src="{% static 'department/images/student.jpg' %}" alt="" class="responsive-img">
              </div>
              <div class="col s9 valign">
                <span class="advertisment-title"><a href="#">Advertisment title</a></span>
              </div>
            </div>
            <div class="divider"></div>
            <div class="row advertisment valign-wrapper">
              <div class="col s3">
                <img src="{% static 'department/images/student.jpg' %}" alt="" class="responsive-img">
              </div>
              <div class="col s9 valign">
                <span class="advertisment-title"><a href="#">Advertisment title</a></span>
              </div>
            </div>
            <div class="divider"></div>
            <div class="row advertisment valign-wrapper">
              <div class="col s3">
                <img src="{% static 'department/images/student.jpg' %}" alt="" class="responsive-img">
              </div>
              <div class="col s9 valign">
                <span class="advertisment-title"><a href="#">Advertisment title</a></span>
              </div>
            </div>
            <div class="divider"></div>
            <div class="row advertisment valign-wrapper">
              <div class="col s3">
                <img src="{% static 'department/images/student.jpg' %}" alt="" class="responsive-img">
              </div>
              <div class="col s9 valign">
                <span class="advertisment-title"><a href="#">Advertisment title</a></span>
              </div>
            </div>
            <div class="divider"></div>
    </div>
    <!-- End Advertisments Large-->
    <!-- Advertisments Medium-->
    <div id="advertisments_medium_block" class="col s12 hide-on-small-and-down hide-on-large-only">
        <h4>Оголошення Medium</h4>
        <div class="divider simple-blue"></div>
        <div class="row advertisment valign-wrapper">
        <div class="col s4">
            <img src="{% static 'department/images/student.jpg' %}" alt="" class="responsive-img">
            </div>
            <div class="col s8 valign">
                <span class="advertisment-title"><a href="#">Advertisment title</a></span>
            </div>
            </div>
            <div class="divider"></div>
            <div class="row advertisment valign-wrapper">
              <div class="col s4">
                <img src="{% static 'department/images/student.jpg' %}" alt="" class="responsive-img">
              </div>
              <div class="col s8 valign">
                <span class="advertisment-title"><a href="#">Advertisment title</a></span>
              </div>
            </div>
            <div class="divider"></div>
            <div class="row advertisment valign-wrapper">
              <div class="col s4">
                <img src="{% static 'department/images/student.jpg' %}" alt="" class="responsive-img">
              </div>
              <div class="col s8 valign">
                <span class="advertisment-title"><a href="#">Advertisment title</a></span>
              </div>
            </div>
            <div class="divider"></div>
            <div class="row advertisment valign-wrapper">
              <div class="col s4">
                <img src="{% static 'department/images/student.jpg' %}" alt="" class="responsive-img">
              </div>
              <div class="col s8 valign">
                <span class="advertisment-title"><a href="#">Advertisment title</a></span>
              </div>
            </div>
            <div class="divider"></div>
            <div class="row advertisment valign-wrapper">
              <div class="col s4">
                <img src="{% static 'department/images/student.jpg' %}" alt="" class="responsive-img">
              </div>
              <div class="col s8 valign">
                <span class="advertisment-title"><a href="#">Advertisment title</a></span>
              </div>
            </div>
        <div class="divider"></div>
    </div>
    <!-- End Advertisments Medium-->
{% endblock %}

{% block xbody-extra-scripts %}
  <script src="{% static 'news/js/news-init.js' %}"></script>
  <script src="{% static 'news/js/news-floating-block.js' %}"></script>
{% endblock %}