{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>News</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'materialize/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'news/css/news-style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'department/css/login-form-style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <!-- NAVBAR -->
  <nav class="blue-super-dark" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Link1</a></li>
        <li><a href="#">Link2</a></li>
        <li><a href="#">Link3</a></li>
        <li><a href="#">Link4</a></li>
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-button nav-dropdown-button" href="#!" data-activates="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a href="#login_modal" class="modal-trigger">Login<i class="material-icons right">perm_identity</i></a></li>

        <!-- USER MENU BTN -->
        <li class="non-hover">
          <a class="btn-floating dropdown-button btn-large waves-effect waves-light blue blue-super-dark" id="user-menu-btn" data-activates="user_menu">
            <i class="material-icons">person</i>
          </a>
        </li>
        <!-- END USER MENU BTN -->
      </ul>

      <ul id="nav-mobile" class="side-nav blue-super-dark mobile-nav">
        <li class="side-nav-search">
          <div class="nav-wrapper">
            <form>
              <div class="input-field">
                <input id="search" type="search" required>
                <label for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
              </div>
            </form>
          </div>
        </li>
        <li><a href="#">Mobile Link1</a></li>
        <li><a href="#">Mobile Link2</a></li>
        <li><a href="#">Mobile Link3</a></li>
        <li><a href="#">Mobile Link4</a></li>
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-button mobile-dropdown-button" href="#!" data-activates="dropdown2">Dropdown<i class="material-icons right">
        arrow_drop_down</i></a></li>
      </ul>
      <a href="#" id="mobile-nav-btn" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      <a href="#" id="mobile-login-btn" data-activates="login-mobile" class="button-collapse login-mobile-btn"><i class="material-icons">perm_identity</i></a>

      <!-- MOBILE USER MENU BTN -->
      <a class="button-collapse dropdown-button btn-floating btn-large waves-effect waves-light blue blue-super-dark right" data-activates="user_menu" id="mobile-user-menu-btn"><i class="material-icons">person</i></a>
      <!-- END MOBILE USER MENU BTN -->

      <!-- LOGIN MOBILE -->
      <div id="login-mobile" class="side-nav mobile-login blue-dark">
        <div class="mobile-login-header center-align">Log in</div>
        <div class="error-alert-container blue-dark">
          <div class="error-alert red darken-2 white-text" id="login_modal_error_alert"> 
            Wrong usename or password!
          </div>
        </div>
        <form class="login-container blue-dark" id="login_mobile_form">
          <p>
            <input type="email" placeholder="Email">
          </p>
          <p>
            <input type="password" placeholder="Password">
          </p>
          <p>
            <input type="checkbox" id="remember_me_mobile" />
            <label for="remember_me_mobile" class="white-text">Remember me?</label>
          </p>
          <p>
            <input type="submit" value="Log in">
          </p>
        </form>
        <div class="forget-password blue-dark"><a href="#" >Create account</a></div>
        <div class="forget-password blue-dark"><a href="#" >Forget Password?</a></div>
      </div>
      <!-- END LOGIN MOBILE -->
    </div>
  </nav>

  <!-- User menu -->
  <ul id="user_menu" class="dropdown-content blue-super-dark user-menu">
    <li>
       <div class="user-profile blue-dark text-white">
          <div class="valign-wrapper">
            <div class="user-profile-avatar">
              <img src="images/avatar.jpg" alt="" class="circle responsive-img user-avatar-image"> 
            </div>
            <div>
              <div class="user-profile-name">Vasya Vasylenko</div>
              <div>vasyavas@gmail.com</div>
            </div>
          </div>
        </div>
    </li>
    <li><a href="#">Action1</a></li>
    <li><a href="#">Action2</a></li>
    <li class="divider"></li>
    <li><a href="#">Logout</a></li>
  </ul> 
  <!-- END USER menu -->

  <ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
  </ul>
  <ul id="dropdown2" class="dropdown-content">
    <li><a href="#!">one1</a></li>
    <li><a href="#!">two2</a></li>
    <li class="divider"></li>
    <li><a href="#!">three3</a></li>
  </ul>
  <!-- END NAVBAR -->

  <!-- LOGIN MODAl -->
  <!-- Modal Structure -->
  <div  id="login_modal" class="modal login blue-super-dark">   
    <h2 class="login-header">Log in</h2>
    <div class="error-alert-container blue-dark">
      <div class="error-alert red darken-2 white-text" id="login_modal_error_alert"> 
        Wrong usename or password!
      </div>
    </div>
    <form class="login-container blue-dark" id="login_modal_form">
      <p>
        <input type="email" placeholder="Email">
      </p>
      <p>
        <input type="password" placeholder="Password">
      </p>
      <p>
        <input type="checkbox" id="remember_me" />
        <label for="remember_me" class="white-text">Remember me?</label>
      </p>
      <p>
        <input type="submit" value="Log in">
        <a class="btn-floating btn-large waves-effect waves-light blue blue-super-dark registration-btn">
          <i class="material-icons">person_add</i>
        </a>
      </p>
    </form>
    <div class="forget-password blue-dark"><a href="#" >Forget Password?</a></div>
  </div>
  <!-- END LOGIN MODAL -->

  <!--  CONTAINER-->
  <div class="container">
    <div class="row">
      <div class="col s12 m8">
        <div class="row">
          <!-- NEWS Large-->
          <div class="col s12 hide-on-med-and-down">
            <h4>Large</h4>
            <div class="divider  simple-blue"></div>
            <div class="row news-record">
              <div class="col s3">
                <img src="images/strawberries.jpg" alt="" class="responsive-img">
              </div>
              <div class="col s9">
                <h4 class="news-title"><a href="#">Google’s crusade against Flash will take a huge step later this year</a></h4>
                <p>May 16th - While Google obviously has no control over the entirety of the web, they will use their influence to see that Flash dies. Google has detailed a plan to disable the Flash plugin in Google Chrome by the end of this year.</p>
              </div>
            </div>
            <div class="divider"></div>
            <div class="row news-record">
              <div class="col s3">
                <img src="images/strawberries.jpg" alt="" class="responsive-img">
              </div>
              <div class="col s9">
                <h4 class="news-title"><a href="#">Google’s crusade against Flash will take a huge step later this year</a></h4>
                <p>May 16th - While Google obviously has no control over the entirety of the web, they will use their influence to see that Flash dies. Google has detailed a plan to disable the Flash plugin in Google Chrome by the end of this year.</p>
              </div>
            </div>
            <div class="divider"></div>
            <div class="row news-record">
              <div class="col s3">
                <img src="images/image1.jpg" alt="" class="responsive-img">
              </div>
              <div class="col s9">
                <h4 class="news-title"><a href="#">Google’s crusade against Flash will take a huge step later this year</a></h4>
                <p>May 16th - While Google obviously has no control over the entirety of the web, they will use their influence to see that Flash dies. Google has detailed a plan to disable the Flash plugin in Google Chrome by the end of this year.</p>
              </div>
            </div>
            <div class="divider"></div>
            <div class="row news-record">
              <div class="col s3">
                <img src="images/strawberries.jpg" alt="" class="responsive-img">
              </div>
              <div class="col s9">
                <h4 class="news-title"><a href="#">Google’s crusade against Flash will take a huge step later this year</a></h4>
                <p>May 16th - While Google obviously has no control over the entirety of the web, they will use their influence to see that Flash dies. Google has detailed a plan to disable the Flash plugin in Google Chrome by the end of this year.</p>
              </div>
            </div>
            <div class="divider"></div>
            <div class="row news-record">
              <div class="col s3">
                <img src="images/strawberries.jpg" alt="" class="responsive-img">
              </div>
              <div class="col s9">
                <h4 class="news-title"><a href="#">Google’s crusade against Flash will take a huge step later this year</a></h4>
                <p>May 16th - While Google obviously has no control over the entirety of the web, they will use their influence to see that Flash dies. Google has detailed a plan to disable the Flash plugin in Google Chrome by the end of this year.</p>
              </div>
            </div>
            <div class="divider"></div>
            <div class="row news-record">
              <div class="col s3">
                <img src="images/strawberries.jpg" alt="" class="responsive-img">
              </div>
              <div class="col s9">
                <h4 class="news-title"><a href="#">Google’s crusade against Flash will take a huge step later this year</a></h4>
                <p>May 16th - While Google obviously has no control over the entirety of the web, they will use their influence to see that Flash dies. Google has detailed a plan to disable the Flash plugin in Google Chrome by the end of this year.</p>
              </div>
            </div>
            <div class="divider"></div>
            <div class="row news-record">
              <div class="col s3">
                <img src="images/strawberries.jpg" alt="" class="responsive-img">
              </div>
              <div class="col s9">
                <h4 class="news-title"><a href="#">Google’s crusade against Flash will take a huge step later this year</a></h4>
                <p>May 16th - While Google obviously has no control over the entirety of the web, they will use their influence to see that Flash dies. Google has detailed a plan to disable the Flash plugin in Google Chrome by the end of this year.</p>
              </div>
            </div>
            <div class="divider"></div>
            <div class="row news-record">
              <div class="col s3">
                <img src="images/strawberries.jpg" alt="" class="responsive-img">
              </div>
              <div class="col s9">
                <h4 class="news-title"><a href="#">Google’s crusade against Flash will take a huge step later this year</a></h4>
                <p>May 16th - While Google obviously has no control over the entirety of the web, they will use their influence to see that Flash dies. Google has detailed a plan to disable the Flash plugin in Google Chrome by the end of this year.</p>
              </div>
            </div>
            <div class="divider"></div>
            <div class="row news-record">
              <div class="col s3">
                <img src="images/strawberries.jpg" alt="" class="responsive-img">
              </div>
              <div class="col s9">
                <h4 class="news-title"><a href="#">Google’s crusade against Flash will take a huge step later this year</a></h4>
                <p>May 16th - While Google obviously has no control over the entirety of the web, they will use their influence to see that Flash dies. Google has detailed a plan to disable the Flash plugin in Google Chrome by the end of this year.</p>
              </div>
            </div>
          </div>
          <!-- END NEWS -->
          <!-- NEWS Medium-->
          <div class="col s12 hide-on-small-and-down hide-on-large-only">
            <h4>Medium</h4>
            <div class="divider  simple-blue"></div>
            <div class="row news-record">
              <div class="col s4">
                <img src="images/strawberries.jpg" alt="" class="responsive-img">
              </div>
              <div class="col s8">
                <h4 class="news-title"><a href="#">Google’s crusade against Flash will take a huge step later this year</a></h4>
                <p>May 16th - While Google obviously has no control over the entirety of the web, they will use their influence to see that Flash dies. Google has detailed a plan to disable the Flash plugin in Google Chrome by the end of this year.</p>
              </div>
            </div>
            <div class="divider"></div>
            <div class="row news-record">
              <div class="col s4">
                <img src="images/strawberries.jpg" alt="" class="responsive-img">
              </div>
              <div class="col s8">
                <h4 class="news-title"><a href="#">Google’s crusade against Flash will take a huge step later this year</a></h4>
                <p>May 16th - While Google obviously has no control over the entirety of the web, they will use their influence to see that Flash dies. Google has detailed a plan to disable the Flash plugin in Google Chrome by the end of this year.</p>
              </div>
            </div>
            <div class="divider"></div>
            <div class="row news-record">
              <div class="col s4">
                <img src="images/strawberries.jpg" alt="" class="responsive-img">
              </div>
              <div class="col s8">
                <h4 class="news-title"><a href="#">Google’s crusade against Flash will take a huge step later this year</a></h4>
                <p>May 16th - While Google obviously has no control over the entirety of the web, they will use their influence to see that Flash dies. Google has detailed a plan to disable the Flash plugin in Google Chrome by the end of this year.</p>
              </div>
            </div>
            <div class="divider"></div>
            <div class="row news-record">
              <div class="col s4">
                <img src="images/image1.jpg" alt="" class="responsive-img">
              </div>
              <div class="col s8">
                <h4 class="news-title"><a href="#">Google’s crusade against Flash will take a huge step later this year</a></h4>
                <p>May 16th - While Google obviously has no control over the entirety of the web, they will use their influence to see that Flash dies. Google has detailed a plan to disable the Flash plugin in Google Chrome by the end of this year.</p>
              </div>
            </div>
            <div class="divider"></div>
            <div class="row news-record">
              <div class="col s4">
                <img src="images/image1.jpg" alt="" class="responsive-img">
              </div>
              <div class="col s8">
                <h4 class="news-title"><a href="#">Google’s crusade against Flash will take a huge step later this year</a></h4>
                <p>May 16th - While Google obviously has no control over the entirety of the web, they will use their influence to see that Flash dies. Google has detailed a plan to disable the Flash plugin in Google Chrome by the end of this year.</p>
              </div>
            </div>
            <div class="divider"></div>
            <div class="row news-record">
              <div class="col s4">
                <img src="images/image1.jpg" alt="" class="responsive-img">
              </div>
              <div class="col s8">
                <h4 class="news-title"><a href="#">Google’s crusade against Flash will take a huge step later this year</a></h4>
                <p>May 16th - While Google obviously has no control over the entirety of the web, they will use their influence to see that Flash dies. Google has detailed a plan to disable the Flash plugin in Google Chrome by the end of this year.</p>
              </div>
            </div>
            <div class="divider"></div>
            <div class="row news-record">
              <div class="col s4">
                <img src="images/image1.jpg" alt="" class="responsive-img">
              </div>
              <div class="col s8">
                <h4 class="news-title"><a href="#">Google’s crusade against Flash will take a huge step later this year</a></h4>
                <p>May 16th - While Google obviously has no control over the entirety of the web, they will use their influence to see that Flash dies. Google has detailed a plan to disable the Flash plugin in Google Chrome by the end of this year.</p>
              </div>
            </div>
            <div class="divider"></div>
            <div class="row news-record">
              <div class="col s4">
                <img src="images/image1.jpg" alt="" class="responsive-img">
              </div>
              <div class="col s8">
                <h4 class="news-title"><a href="#">Google’s crusade against Flash will take a huge step later this year</a></h4>
                <p>May 16th - While Google obviously has no control over the entirety of the web, they will use their influence to see that Flash dies. Google has detailed a plan to disable the Flash plugin in Google Chrome by the end of this year.</p>
              </div>
            </div>
            <div class="divider"></div>
            <div class="row news-record">
              <div class="col s4">
                <img src="images/image1.jpg" alt="" class="responsive-img">
              </div>
              <div class="col s8">
                <h4 class="news-title"><a href="#">Google’s crusade against Flash will take a huge step later this year</a></h4>
                <p>May 16th - While Google obviously has no control over the entirety of the web, they will use their influence to see that Flash dies. Google has detailed a plan to disable the Flash plugin in Google Chrome by the end of this year.</p>
              </div>
            </div>
          </div>
          <!-- END NEWS -->
          <!-- NEWS Small-->
          <div class="col s12 hide-on-med-and-up">
            <h4>Small</h4>
            <div class="divider  simple-blue"></div>
            <div class="row news-record valign-wrapper">
              <div class="col s5">
                <img src="images/strawberries.jpg" alt="" class="responsive-img">
              </div>
              <div class="col s7 valign">
                <h4 class="news-title"><a href="#">Google’s crusade against Flash will take a huge step later this year</a></h4>
              </div>
            </div>
            <div class="divider"></div>
            <div class="row news-record valign-wrapper">
              <div class="col s5">
                <img src="images/strawberries.jpg" alt="" class="responsive-img">
              </div>
              <div class="col s7 valign">
                <h4 class="news-title"><a href="#">Google’s crusade against Flash will take a huge step later this year</a></h4>
              </div>
            </div>
            <div class="divider"></div>
            <div class="row news-record valign-wrapper">
              <div class="col s5">
                <img src="images/strawberries.jpg" alt="" class="responsive-img">
              </div>
              <div class="col s7 valign">
                <h4 class="news-title"><a href="#">Google’s crusade against Flash will take a huge step later this year</a></h4>
              </div>
            </div>
            <div class="divider"></div>
            <div class="row news-record valign-wrapper">
              <div class="col s5">
                <img src="images/image1.jpg" alt="" class="responsive-img">
              </div>
              <div class="col s7 valign">
                <h4 class="news-title"><a href="#">Google’s crusade against Flash will take a huge step later this year</a></h4>
              </div>
            </div>
            <div class="divider"></div>
            <div class="row news-record valign-wrapper">
              <div class="col s5">
                <img src="images/strawberries.jpg" alt="" class="responsive-img">
              </div>
              <div class="col s7 valign">
                <h4 class="news-title"><a href="#">Google’s crusade against Flash will take a huge step later this year</a></h4>
              </div>
            </div>
          </div>
          <!-- END NEWS -->
          <!-- Pagination -->
          <div class="col s12 center-align">
            <ul class="pagination">
              <li class="disabled edge"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
              <li class="active"><a href="#!">1</a></li>
              <li class="waves-effect"><a href="#!">2</a></li>
              <li class="waves-effect"><a href="#!">3</a></li>
              <li class="waves-effect"><a href="#!">4</a></li>
              <li class="waves-effect"><a href="#!">5</a></li>
              <li class="waves-effect edge"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="row">
          <!-- Search -->
          <div class="col s12 hide-on-med-and-down">
            <h4>Пошук</h4>
            <div class="divider simple-blue"></div>
            <div class="search">
              <form class="">
                <div class="row">
                  <div class="col s10">
                    <input class="" type="text" placeholder="Шукати тут..." required/>
                  </div>
                  <div class="col s2">
                    <button class="waves-effect waves-light btn blue-dark" type="submit"><i class="material-icons">search</i></button>
                  </div>
                </div>         
              </form>
            </div>
          </div>
          <!-- End Search -->
          <!-- Advertisments Large-->
          <div id="advertisments_block" class="col s12 hide-on-med-and-down">
            <h4>Оголошення Large</h4>
            <div class="divider simple-blue"></div>
            <div class="row advertisment valign-wrapper">
              <div class="col s3">
                <img src="images/strawberries.jpg" alt="" class="responsive-img">
              </div>
              <div class="col s9 valign">
                <span class="advertisment-title">Advertisment title</span>
              </div>
            </div>
            <div class="divider"></div>
            <div class="row advertisment valign-wrapper">
              <div class="col s3">
                <img src="images/strawberries.jpg" alt="" class="responsive-img">
              </div>
              <div class="col s9 valign">
                <span class="advertisment-title">Advertisment title</span>
              </div>
            </div>
            <div class="divider"></div>
            <div class="row advertisment valign-wrapper">
              <div class="col s3">
                <img src="images/strawberries.jpg" alt="" class="responsive-img">
              </div>
              <div class="col s9 valign">
                <span class="advertisment-title">Advertisment title</span>
              </div>
            </div>
            <div class="divider"></div>
            <div class="row advertisment valign-wrapper">
              <div class="col s3">
                <img src="images/strawberries.jpg" alt="" class="responsive-img">
              </div>
              <div class="col s9 valign">
                <span class="advertisment-title">Advertisment title</span>
              </div>
            </div>
            <div class="divider"></div>
            <div class="row advertisment valign-wrapper">
              <div class="col s3">
                <img src="images/strawberries.jpg" alt="" class="responsive-img">
              </div>
              <div class="col s9 valign">
                <span class="advertisment-title">Advertisment title</span>
              </div>
            </div>
            <div class="divider"></div>
          </div>
          <!-- End Advertisments Large-->
          <!-- Advertisments Medium-->
          <div id="advertisments_medium_block" class="col s12 hide-on-small-and-down hide-on-large-only">
            <h4>Оголошення Medium</h4>
            <div class="divider simple-blue"></div>
            <div class="row advertisment">
              <div class="col s4 valign-wrapper">
                <img src="images/strawberries.jpg" alt="" class="responsive-img">
              </div>
              <div class="col s8 valign">
                <span class="advertisment-title">Advertisment title</span>
              </div>
            </div>
            <div class="divider"></div>
            <div class="row advertisment">
              <div class="col s4 valign-wrapper">
                <img src="images/strawberries.jpg" alt="" class="responsive-img">
              </div>
              <div class="col s8 valign">
                <span class="advertisment-title">Advertisment title</span>
              </div>
            </div>
            <div class="divider"></div>
            <div class="row advertisment">
              <div class="col s4 valign-wrapper">
                <img src="images/strawberries.jpg" alt="" class="responsive-img">
              </div>
              <div class="col s8 valign">
                <span class="advertisment-title">Advertisment title</span>
              </div>
            </div>
            <div class="divider"></div>
            <div class="row advertisment">
              <div class="col s4 valign-wrapper">
                <img src="images/strawberries.jpg" alt="" class="responsive-img">
              </div>
              <div class="col s8 valign">
                <span class="advertisment-title">Advertisment title</span>
              </div>
            </div>
            <div class="divider"></div>
            <div class="row advertisment">
              <div class="col s4 valign-wrapper">
                <img src="images/strawberries.jpg" alt="" class="responsive-img">
              </div>
              <div class="col s8 valign">
                <span class="advertisment-title">Advertisment title</span>
              </div>
            </div>
            <div class="divider"></div>
          </div>
          <!-- End Advertisments Medium-->
        </div>
      </div>
    </div>
  </div>
  <!--  END CONTAINER-->

  <!-- UP BUTTON -->
  <a class="btn-floating btn-large waves-effect waves-light blue up_button" id="up_button"><i class="material-icons">keyboard_arrow_up</i></a>
  <!-- END UP BUTTON -->
  <!-- FOOTER -->
  <footer class="page-footer blue-dark">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Department Bio</h5>
          <p class="grey-text text-lighten-4">We are the best department in the  Universe.</p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright blue-super-dark">
      <div class="container">
      Made by Red CAt
      </div>
    </div>
  </footer>
  <!-- end FOOTER -->

  <!--  Scripts-->
  <script src="{% static 'jquery-2.2.1.js' %}"></script>
  <script src="{% static 'department/js/Chart.bundle.min.js' %}"></script>
  <script src="{% static 'materialize/js/materialize.js' %}"></script>
  <script src="{% static 'news/js/news-init.js' %}"></script>
  <script src="{% static 'news/js/news-floating-block.js' %}"></script>
  </body>
</html>
