{% for news in news_list %}
    <div class="row news-record">
        <div class="col s12 m12 title-container">
            <h4 class="news-title"><a href="/news/id{{ news.id }}/">{{ news.title }}</a></h4>
        </div>
        <div class="col s12 m12">
            <div class="info-panel">
                <i class="material-icons">local_offer</i>
                {% for tag in news.tag.all %}
                    <a href="#">{{ tag.name }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="col s3 m4">
            <img src="{{ news.image.url }}" alt="" class="responsive-img">
        </div>
        <div class="col s9 m8">
            {{ news.short_description }}
        </div>
        <div class="col s12 m12">
            <div class="info-block">
                <div class="inside-block ">
                    <span class="valign-wrapper">
                        <i class="material-icons">event</i>
                        <a href="#"><span class="valign text">{{ news.publication_date_time }}</span></a>
                    </span>
                </div>
                <div class="inside-block ">
                    <span class="valign-wrapper">
                      <i class="material-icons">visibility</i><span class="valign text">{{ news.clicks }}</span>
                    </span>
                </div>
                <div class="inside-block ">
                    <span class="valign-wrapper">
                      <i class="material-icons">person</i><a href="#"><span class="valign text">{{ news.author }}</span></a>
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endfor %}