{% extends 'department/info_with_latest_news.html' %}

{% load staticfiles %}

{% block head-title-content %}Кафедра ПЗКС|Умови вступу{% endblock %}

{% block xhead-extra-links %}
  <link href="{% static 'department/css/applicant-style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}

{% block container-left-col %}
    <div class="row">
          <div class="col s12">
            <div class="row">
              <div class="col s12 contacts-header">
                <h4>Для Абітурієнтів</h4>
              </div>
              <div class="col s12 ">
                <p>Кафедра програмного забезпечення комп’ютерних систем готує фахівців напряму 050103 «Програмна інженерія» освітньо-кваліфікаційного рівня 6.050103 – бакалавр. Випускники отримують кваліфікацію «Технік-програміст». Набір здійснюється на повну форму навчання з першого курсу. Існує також скорочена форма навчання, куди приймаються молодші спеціалісти, які закінчили коледжі за напрямом 5.050103 – «Розробка програмного забезпечення».</p>
                <p>Кафедра готує спеціалістів та магістрів зі спеціальностей 7.05010301 (спеціалісти) та 8.05010301 (магістри) «Програмне забезпечення систем». Випускники отримують кваліфікації «Інженер-програміст» та «Аналітик комп’ютерних систем» відповідно.</p>
                <h5>Інформація про вступ</h5>
                <ul class="link-list">
                  <li><a href="http://vstup.chnu.edu.ua/">Приймальна комісія ЧНУ</a></li>
                  <li><a href="http://ptcsi.chnu.edu.ua/abiturientu/umovi-vstupu-ta-perelik-dokumentiv">Умови вступу та перелік документів</a></li>
                </ul>
                <h5>Конктактна інформація</h5>
                <ul class="link-list">4
                  <li><a href="/contacts/">Наші контакти</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
{% endblock %}

{% block xbody-extra-scripts %}
  <script src="{% static 'department/js/applicant-init.js' %}"></script>
{% endblock %}