{% extends 'department/../../../post/templates/post/usual_page_with_row_post_block.html' %}

{% load staticfiles %}

{% block head-title-content %}Про спеціальність{% endblock %}

{% block xhead-extra-links %}
    <link href="{% static 'department/css/applicant-style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}

{% block container_1_row_col_s12_m8_1_row_focus_on %}
    <div class="col s12 contacts-header">
        <h4>Про спеціальність "Програмна інженерія"</h4>
    </div>
    <div class="col s12 ">
        <p>Кафедра програмного забезпечення комп’ютерних систем відділу комп’ютерних наук Інституту фізико-технічних та
            комп’ютерних наук Чернівецького національного університету імені Юрія Федьковича готує фахівців наступної
            кваліфікації:
        </p>
        <ul class="collapsible popout" data-collapsible="accordion">
            <li>
                <div class="collapsible-header active"><i class="material-icons">class</i>Технік-програміст</div>
                <div class="collapsible-body">
                    <p>
                                  <strong>Напрям</strong>: 050103 «Програмна інженерія»<br>
                                  <strong>Освітньо-кваліфікаційний рівень</strong>: 6.050103 – бакалавр<br>
                                  <strong>Форми навчання</strong>: денна, заочна<br>
                                  <strong>Набір</strong>: випускників шкіл, за результатами атестата та ЗНО<br>
                                  <strong>Тривалість навчання</strong>: 4 роки (1-4 курси)<br><br>

                                  Існує також скорочена форма навчання для якої відрізняються наступні особливості:<br>
                                  <strong>Набір</strong>: молодших спеціалістів, які закінчили коледжі за напрямом
                                  5.050103 – «Розробка програмного забезпечення» за результатами диплому<br>
                                  <strong>Тривалість навчання</strong>: 2 роки (3-4 курси)<br>
                    </p>
                    <p style="text-align: center;"><strong>Вступні критерії</strong></p>
                    <table class="highlight">
                        <thead>
                        <tr>
                            <th data-field="name">Критерій</th>
                            <th data-field="coef" class="tooltipped" data-position="top"
                                data-delay="50" data-tooltip="Коефіцієнт множення здобутого вами результату">Коефіцієнт</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Українська мова та література</td>
                            <td>0,25</td>
                        </tr>
                                        <tr>
                                            <td>Математика <strong>(профільний предмет)</strong></td>
                                            <td>0,35</td>
                                        </tr>
                                        <tr>
                                            <td>Фізика або іноземна мова</td>
                                            <td>0,25</td>
                                        </tr>
                                        <tr>
                                            <td>Середній бал шкільного атестату</td>
                                            <td>0,15</td>
                                        </tr>
                                    </tbody>
                                </table>
                              <p>
                                  <strong>У результаті вивчення нормативної частини навчального циклу студенти повинні:</strong><br>
                                  <strong>знати:</strong><br>
                                  &emsp;- фундаментальні структури даних та алгоритми обробки інформації, які застосовуються в
                                  ЕОМ і ком'ютерних мережах;<br>
                                  &emsp;- основні мови програмування;<br>
                                  &emsp;- сучасні технології проектування та розробки програмного забезпечення;<br>
                                  &emsp;- сучасні підходи до побудови людино-машинного інтерфейсу;<br>
                                  &emsp;- засоби візуального програмування;<br>
                                  &emsp;- принципи організації баз даних та мову запитів SQL;<br>
                                  &emsp;- розрахунок основних економічних показників виробничо-господарської діяльності підприємства та їх аналіз.<br>
                                  <strong>вміти:</strong><br>
                                  &emsp;- застосовувати набуті знання для здійснення професійної діяльності при розробці,
                                  налагодженні та експлуатації програмного забезпечення.<br><br>
                                  <strong>Фахівці з даної спеціальності повинні володіти наступними компетенціями:</strong><br>
                                  &emsp;- соціально-особистісні<br>
                                  &emsp;- загальнонаукові<br>
                                  &emsp;- інструментальні<br>
                                  &emsp;- професійні<br><br>
                                  <strong>При здобутті кваліфікації "технік-програміст" випускники можуть:</strong><br>
                                  &emsp;- брати участь у розробці програмного забезпечення;<br>
                                  &emsp;- розробляти програми на мовах високого рівня;<br>
                                  &emsp;- супроводжувати діюче програмне забезпечення на підприємстві;<br>
                                  &emsp;- обробляти дані з використанням програмного забезпечення, працювати з базами даних,
                                  консультувати з питань інформатизації;<br>
                                  &emsp;- виконувати системні роботи: підтримку операційної системи, ведення архівів, резервування інформації.<br>
                                  &emsp;- <strong>працювати на підприємствах в різних галузях управлінської, економічної та технічної
                                      діяльності на посадах:</strong><br>
                                  &emsp;&emsp;• технік - програміст І категорії;<br>
                                  &emsp;&emsp;• інженер - програміст ІІІ категорії;<br>
                                  &emsp;&emsp;• розробник прикладного програмного забезпечення;<br>
                                  &emsp;&emsp;• технік інформаційно-обчислювального центру;<br>
                                  &emsp;&emsp;• оператор електронно-обчислювальної (комп'ютерної) техніки;<br>
                                  &emsp;&emsp;• начальник зміни обчислювального (інформаційно-обчислювального) центру;<br>
                                  &emsp;&emsp;• технік обчислювального (інформаційно-обчислювального) центру;<br>
                                  &emsp;&emsp;• фахівець комп'ютерної графіки (дизайну);<br>
                                  &emsp;&emsp;• фахівець з комп'ютерного та Web-дизaйнy;<br>
                                  &emsp;&emsp;• фахівець з провадження та обслуговування Internet-технологій;<br>
                                  &emsp;&emsp;• фахівець з провадження та обслуговування автоматизованих інформаційних технологій<br>
                                  &emsp;&emsp;• тестувальник програмного забезпечення;<br>
                                  &emsp;&emsp;• системний програміст, системний адміністратор, адміністратор баз даних,
                                  адміністратор комп'ютерних мереж;<br>
                                  &emsp;&emsp;• керівник малого підприємства з проектування, розробки, супроводження та
                                  тиражування програмних засобів;<br>
                                  &emsp;&emsp;• менеджер з продажів комп'ютерів, комп'ютерних мереж і систем;<br>
                                  &emsp;&emsp;• науковий співробітник (програмування);<br>
                                  &emsp;&emsp;• викладач (інформатика, програмування).<br>
                              </p>
                          </div>
                        </li>
                        <li>
                          <div class="collapsible-header"><i class="material-icons">class</i>Інженер-програміст</div>
                          <div class="collapsible-body">
                              <p>
                                  <strong>Напрям</strong>: 050103 «Програмна інженерія»<br>
                                  <strong>Освітньо-кваліфікаційний рівень</strong>: 7.05010301 – спеціаліст<br>
                                  <strong>Форми навчання</strong>: денна, заочна<br>
                                  <strong>Набір</strong>: випускників вузів за результатами диплому та вступних екзаменів.
                                  Випускники не споріднених напрямів додатково проходять співбесіду<br>
                                  <strong>Тривалість навчання</strong>: 1 рік (5 курс)<br>
                              </p>
                              <p style="text-align: center;"><strong>Вступні критерії</strong></p>
                                <table class="highlight">
                                    <thead>
                                      <tr>
                                          <th data-field="name">Критерій</th>
                                          <th data-field="value" class="tooltipped" data-position="top"
                                              data-delay="50" data-tooltip="Максимально можливий результат згідно критерію">Значення</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Диплом</td>
                                            <td>200</td>
                                        </tr>
                                        <tr>
                                            <td>Профільний екзамен</td>
                                            <td>200</td>
                                        </tr>
                                        <tr>
                                            <td>Екзамен з іноземної мови</td>
                                            <td>зараховано</td>
                                        </tr>
                                    </tbody>
                                </table>
                              <p>
                                  <strong>Вимоги до кваліфікації "інженер-програміст" включають в себе вимоги до "техніка-програміста"
                                      та його можливості по працевлаштуванню. Проте, наявні особливі умови:</strong><br><br>
                                  <strong>Завдання та обов’язки:</strong><br>
                                  &emsp;- на основі аналізу математичних моделей і алгоритмів рішення економічних та інших задач
                                  розроблює програми, які забезпечують можливість виконання алгоритму і, відповідно, поставлену задачу
                                  засобами обчислювальної техніки, проводить їх тестування і налагодження. Розроблює технологію розв’язання
                                  задачі на всіх етапах. Здійснює вибір мови програмування і переклад нею алгоритмів задач;<br>
                                  &emsp;- визначає інформацію, яка підлягає обробленню засобами обчислювальної техніки, її обсяги, структуру,
                                  макети і схеми вводу, оброблення, зберігання і видавання інформації, методи її контролю. Визначає обсяги і
                                  зміст даних тестових прикладів, які забезпечують найбільш повну перевірку відповідності програм їх функціональному
                                  призначенню. Виконує роботи під час підготовки програм до налагодження і проводить їх налагодження. Розроблює
                                  інструкції на роботи з програмами, оформлює необхідну технічну документацію;<br>
                                  &emsp;- визначає можливість використання готових програмних засобів. Здійснює супроводження впроваджених програм
                                  і програмних засобів. Розроблює і впроваджує методи і засоби автоматизації програмування, типові і стандартні
                                  програмні засоби. Бере участь у проектних роботах. На основі логічного аналізу проводить камеральну перевірку
                                  програм. Визначає сукупність даних, що забезпечують урахування максимального числа умов, які включено до
                                  програми, виконує роботи з її підготовки до налагодження. Здійснює запуск налагоджених програм і введення
                                  вихідних даних, які визначаються умовами поставлених задач. Проводить коректування розробленої програми на
                                  основі аналізу вихідних даних;<br>
                                  &emsp;- розроблює інструкції щодо роботи з програмами, оформляє необхідну технічну документацію. Визначає можливість
                                  використання готових програм, розроблених іншими підприємствами (установами). Розроблює і впроваджує методи
                                  автоматизації програмування, типові і стандартні програми, програмуючі програми, транслятори, вхідні алгоритмічні мови.
                                  Розробляє і впроваджує системи автоматичної перевірки правильності програм, типові і стандартні програмні засоби,
                                  складає технологію оброблення інформації. Виконує роботи з уніфікації і типізації обчислювальних процесів. Бере участь
                                  у створенні каталогів і картотек стандартних програм, розробленні форм документів, які підлягають машинному обробленню,
                                  у проектних роботах, що стосуються розширення сфери застосування обчислювальної техніки;<br><br>

                                  <strong>Повинен знати:</strong><br>
                                  &emsp;- керівні і нормативні матеріали, які регламентують методи розробки алгоритмів і програм та використання
                                  обчислювальної техніки в процесі оброблення інформації;<br>
                                  &emsp;- основні принципи структурного програмування, техніко-експлуатаційні характеристики, конструктивні особливості,
                                  призначення і режими роботи устаткування, правила його технічної експлуатації;<br>
                                  &emsp;- технологію механізованого оброблення інформації;<br>
                                  &emsp;- види технічних носіїв інформації;<br>
                                  &emsp;- методи класифікації і кодування інформації;<br>
                                  &emsp;- формалізовані мови програмування;<br>
                                  &emsp;- чинні стандарти, системи числення, шифрів і кодів;<br>
                                  &emsp;- методи програмування;<br>
                                  &emsp;- порядок оформлення технічної документації;<br>
                                  &emsp;- передовий вітчизняний і світовий досвід програмування і використання обчислювальної техніки;<br>
                                  &emsp;- основи економіки, організації праці і виробництва.<br><br>

                                  <strong>Кваліфікаційні вимоги:</strong><br>
                                  &emsp;• <strong>Провідний інженер-програміст:</strong><br>
                                  &emsp;&emsp; -повна вища освіта відповідного напряму підготовки(спеціаліст);<br>
                                  &emsp;&emsp; -стаж роботи за професією інженера-програміста I категорії — не менше 2 років.<br>
                                  &emsp;• <strong>Інженер-програміст I категорії:</strong><br>
                                  &emsp;&emsp; -повна вища освіта відповідного напряму підготовки(спеціаліст);<br>
                                  &emsp;&emsp; -стаж роботи за професією інженера-програміста II категорії — не менше 3 років.<br>
                                  &emsp;• <strong>Інженер-програміст II категорії:</strong><br>
                                  &emsp;&emsp; -повна вища освіта відповідного напряму підготовки(спеціаліст);<br>
                                  &emsp;&emsp; -стаж роботи за професією інженера-програміста III категорії — не менше 2 років.<br>
                                  &emsp;• <strong>Інженер-програміст III категорії:</strong><br>
                                  &emsp;&emsp; -повна вища освіта відповідного напряму підготовки(спеціаліст);<br>
                                  &emsp;&emsp; -стаж роботи за професією інженера-програміста — не менше 1 року.<br>
                                  &emsp;• <strong>Інженер-програміст:</strong><br>
                                  &emsp;&emsp; -повна вища освіта відповідного напряму підготовки(спеціаліст);<br>
                                  &emsp;&emsp; -вимоги до стажу роботи відсутні.<br>
                              </p>
                          </div>
                        </li>
                        <li>
                          <div class="collapsible-header"><i class="material-icons">class</i>Аналітик комп’ютерних систем</div>
                          <div class="collapsible-body">
                              <p>
                                  <strong>Напрям</strong>: 050103 «Програмна інженерія»<br>
                                  <strong>Освітньо-кваліфікаційний рівень</strong>: 8.05010301 – магістр<br>
                                  <strong>Форми навчання</strong>: денна, заочна<br>
                                  <strong>Набір</strong>: випускників вузів за результатами диплому та вступних екзаменів.
                                  Випускники не споріднених напрямів додатково проходять співбесіду<br>
                                  <strong>Тривалість навчання</strong>: 1,5 року (5 курс)<br>
                              </p>
                              <p style="text-align: center;"><strong>Вступні критерії</strong></p>
                                <table class="highlight">
                                    <thead>
                                      <tr>
                                          <th data-field="name">Критерій</th>
                                          <th data-field="value" class="tooltipped" data-position="top"
                                              data-delay="50" data-tooltip="Максимально можливий результат згідно критерію">Значення</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Диплом</td>
                                            <td>200</td>
                                        </tr>
                                        <tr>
                                            <td>Профільний екзамен</td>
                                            <td>200</td>
                                        </tr>
                                        <tr>
                                            <td>Екзамен з іноземної мови</td>
                                            <td>зараховано</td>
                                        </tr>
                                    </tbody>
                                </table>
                              <p>
                                  <strong>Вимоги до кваліфікації "аналітик комп’ютерних систем" включають в себе вимоги до "техніка-програміста"
                                      та його можливості по працевлаштуванню. Також в деякій мірі враховуються вимоги та можливості
                                      "інженера-програміста". Проте, наявні особливі умови:</strong><br><br>
                                  <strong>Кваліфікаційні вимоги:</strong><br>
                                  &emsp;• <strong>Провідний інженер-програміст:</strong><br>
                                  &emsp;&emsp; -повна вища освіта відповідного напряму підготовки(магістр);<br>
                                  &emsp;&emsp; -стаж роботи за професією інженера-програміста I категорії — не менше 2 років.<br>
                                  &emsp;• <strong>Інженер-програміст I категорії:</strong><br>
                                  &emsp;&emsp; -повна вища освіта відповідного напряму підготовки(магістр);<br>
                                  &emsp;&emsp; -стаж роботи за професією інженера-програміста II категорії — не менше 2 років.<br>
                                  &emsp;• <strong>Інженер-програміст II категорії:</strong><br>
                                  &emsp;&emsp; -повна вища освіта відповідного напряму підготовки(магістр);<br>
                                  &emsp;&emsp; -вимоги до стажу роботи відсутні.<br>
                              </p>
                          </div>
                        </li>
                    </ul>
                    <p>
                        Підготовка фахівців з вищеописаних кваліфікацій здійснюється шляхом викладання набору необхідних
                        навчальних дисциплін. Ознайомитися з їх повним переліком ви можете на сторінці
                        <a href="#">"Навчальні дисципліни"</a>.
                    </p>
                    <p>
                        Ми чекаємо на талановитих абітурієнтів, для яких забезпечуємо всі необхідні умови для здобуття
                        освіти високого рівня, що у подальшому дозволить випускникам кафедри успішно конкурувати на ринку праці
                        як в Україні, так і за кордоном!<br><br>
                        Готові до співпраці з нами? А ми готові до співпраці з вами!
                        Ознайомтесь з нашими <a href="/contacts/">контактами</a>.
                    </p>
                </div>
{% endblock %}

{% block xbody-extra-scripts %}
    <script src="{% static 'department/js/applicant-init.js' %}"></script>
{% endblock %}