{% extends 'department/info_with_latest_news.html' %}

{% load staticfiles %}

{% block head-title-content %}Про спеціальність | Кафедра ПЗКС{% endblock %}

{% block xhead-extra-links %}
  <link href="{% static 'department/css/applicant-style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}

{% block container-left-col %}
    <div class="row">
          <div class="col s12">
            <div class="row">
              <div class="col s12 contacts-header">
                <h4>Про спеціальність "Програмна інженерія"</h4>
              </div>
              <div class="col s12 ">
                <p>Кафедра програмного забезпечення комп’ютерних систем відділу комп’ютерних наук Інституту фізико-технічних та
                    комп’ютерних наук Чернівецького національного університету імені Юрія Федьковича готує фахівців наступної
                    кваліфікації:
                </p>
                    <ul class="collapsible popout" data-collapsible="accordion">
                        <li>
                          <div class="collapsible-header active"><i class="material-icons">class</i>Технік-програміст</div>
                          <div class="collapsible-body">
                              <p>
                                  <strong>Напрям</strong>: 050103 «Програмна інженерія»<br>
                                  <strong>Освітньо-кваліфікаційний рівень</strong>: 6.050103 – бакалавр<br>
                                  <strong>Форми навчання</strong>: денна, заочна<br>
                                  <strong>Набір</strong>: випускників шкіл, за результатами атестата та ЗНО<br>
                                  <strong>Тривалість навчання</strong>: 4 роки (1-4 курси)<br><br>

                                  Існує також скорочена форма навчання для якої відрізняються наступні особливості:<br>
                                  <strong>Набір</strong>: молодших спеціалістів, які закінчили коледжі за напрямом
                                  5.050103 – «Розробка програмного забезпечення» за результатами диплому<br>
                                  <strong>Тривалість навчання</strong>: 2 роки (3-4 курси)<br>
                              </p>
                              <p style="text-align: center;"><strong>Вступні критерії</strong></p>
                                <table class="highlight">
                                    <thead>
                                      <tr>
                                          <th data-field="name">Критерій</th>
                                          <th data-field="coef" class="tooltipped" data-position="top"
                                              data-delay="50" data-tooltip="Коефіцієнт множення здобутого вами результату">Коефіцієнт</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Українська мова та література</td>
                                            <td>0,25</td>
                                        </tr>
                                        <tr>
                                            <td>Математика <strong>(профільний предмет)</strong></td>
                                            <td>0,35</td>
                                        </tr>
                                        <tr>
                                            <td>Фізика або іноземна мова</td>
                                            <td>0,25</td>
                                        </tr>
                                        <tr>
                                            <td>Середній бал шкільного атестату</td>
                                            <td>0,15</td>
                                        </tr>
                                    </tbody>
                                </table>
                          </div>
                        </li>
                        <li>
                          <div class="collapsible-header"><i class="material-icons">class</i>Інженер-програміст</div>
                          <div class="collapsible-body">
                              <p>
                                  <strong>Напрям</strong>: 050103 «Програмна інженерія»<br>
                                  <strong>Освітньо-кваліфікаційний рівень</strong>: 7.05010301 – спеціаліст<br>
                                  <strong>Форми навчання</strong>: денна, заочна<br>
                                  <strong>Набір</strong>: випускників вузів за результатами диплому та вступних екзаменів.
                                  Випускники не споріднених напрямів додатково проходять співбесіду<br>
                                  <strong>Тривалість навчання</strong>: 1 рік (5 курс)<br>
                              </p>
                          </div>
                        </li>
                        <li>
                          <div class="collapsible-header"><i class="material-icons">class</i>Аналітик комп’ютерних систем</div>
                          <div class="collapsible-body">
                              <p>
                                  <strong>Напрям</strong>: 050103 «Програмна інженерія»<br>
                                  <strong>Освітньо-кваліфікаційний рівень</strong>: 8.05010301 – магістр<br>
                                  <strong>Форми навчання</strong>: денна, заочна<br>
                                  <strong>Набір</strong>: випускників вузів за результатами диплому та вступних екзаменів.
                                  Випускники не споріднених напрямів додатково проходять співбесіду<br>
                                  <strong>Тривалість навчання</strong>: 1,5 року (5 курс)<br>
                              </p>
                          </div>
                        </li>
                    </ul>
                <h5>Інформація про вступ</h5>
                <ul class="link-list">
                  <li><a href="http://vstup.chnu.edu.ua/">Приймальна комісія ЧНУ</a></li>
                  <li><a href="http://ptcsi.chnu.edu.ua/abiturientu/umovi-vstupu-ta-perelik-dokumentiv">Умови вступу та перелік документів</a></li>
                </ul>
                <h5>Конктактна інформація</h5>
                <ul class="link-list">4
                  <li><a href="/contacts/">Наші контакти</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
{% endblock %}

{% block xbody-extra-scripts %}
  <script src="{% static 'department/js/applicant-init.js' %}"></script>
{% endblock %}