{% extends 'department/info_with_latest_news.html' %}

{% load staticfiles %}

{% block head-title-content %}Контакти{% endblock %}

{% block xhead-extra-links %}
  <link href="{% static 'department/css/contact-style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}

{% block container-left-col %}
    <div class="row">
          <div class="col s12">
            <div class="row">
              <div class="col s12 contacts-header">
                <h4>Контакти</h4>
              </div>
              <div class="col s12">
                <ul class="contact-info">
                    <li><i class="material-icons">home</i>Адреса: каб. 25 (2 поверх), корпус №1, ЧНУ ім. Ю. Федьковича, вул. Коцюбинського 2, м. Чернівці, 58012, Україна</li>
                    <li><i class="material-icons">phone</i>Телефон кафедри: (0372) 58 47 94</li>
                    <li><i class="material-icons">phone</i>Телефон завідуючого кафедрою: 050 434 05 95</li>
                    <li><i class="material-icons">email</i>E-mail кафедри: kafedrapzks@gmail.com</li>
                    <li><i class="material-icons">email</i>E-mail завідуючого кафедрою: sergey.ostapov@gmail.com</li>
                </ul>
              </div>
              <div class="col l6 m12">
                <span class="info-title">Ми на карті</span>
                <div id="map_frame">

                </div>
              </div>
              <div class="col l6 m12">
                <span class="info-title">Вигляд корпусу</span>
                <img src="{% static 'department/images/corps.jpg' %}" class="responsive-img">
              </div>
            </div>
          </div>
        </div>
{% endblock %}

{% block xbody-extra-scripts %}
  <script src="{% static 'department/js/contact-init.js' %}"></script>
{% endblock %}