{% extends 'department/materialized_base_page.html' %}

{% load staticfiles %}

{% block head-title-content %}
    Home
{% endblock %}

{% block head-extra-links %}
    <link href="{% static 'department/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}

{% block body-content %}
  <!-- NAVBAR -->
  <nav class="blue-super-dark" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Link1</a></li>
        <li><a href="#">Link2</a></li>
        <li><a href="#">Link3</a></li>
        <li><a href="#">Link4</a></li>
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a href="#">Login<i class="material-icons right">perm_identity</i></a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Mobile Link1</a></li>
        <li><a href="#">Mobile Link2</a></li>
        <li><a href="#">Mobile Link3</a></li>
        <li><a href="#">Mobile Link4</a></li>
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-button" href="#!" data-activates="dropdown2">Dropdown<i class="material-icons right">
        arrow_drop_down</i></a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
  </ul>
  <ul id="dropdown2" class="dropdown-content">
    <li><a href="#!">one1</a></li>
    <li><a href="#!">two2</a></li>
    <li class="divider"></li>
    <li><a href="#!">three3</a></li>
  </ul>
  <!-- END NAVBAR -->

  <!--  SLIDER-->
  <div class="slider">
    <ul class="slides">
      <li>
        <img src="{% static 'department/images/soft1.jpg' %}"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
          <a class="waves-effect waves-light btn blue" href="index.html">Learn more</a>
        </div>
      </li>
      <li>
        <img src="{% static 'department/images/soft2.jpg' %}"> <!-- random image -->
        <div class="caption left-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
          <a class="waves-effect waves-light btn blue" href="index.html">Learn more</a>
        </div>
      </li>
      <li>
        <img src="{% static 'department/images/soft3.png' %}"> <!-- random image -->
        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
          <a class="waves-effect waves-light btn blue" href="index.html">Learn more</a>
        </div>
      </li>
      <li>
        <img src="{% static 'department/images/soft1.jpg' %}"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
          <a class="waves-effect waves-light btn blue" href="index.html">Learn more</a>
        </div>
      </li>
    </ul>
  </div>
  <!--  END SLIDER-->

  <!--  CONTAINER-->
  <div class="container">
    <div class="row">
      <div class="col s12 m8">
        <div class="row">
          <!-- FOCUS ON -->
          <div class="col s12">
            <h4>Focus on</h4>
            <div class="divider simple-blue"></div>
            <div class="row">
              <div class="col s6 m3 focus-on">
                <a href="#">
                  <div class="card">
                    <div class="card-image">
                      <img src="{% static 'department/images/student.jpg' %}">
                      <span class="card-title">Студенту</span>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col s6 m3 focus-on">
                <a href="#">
                  <div class="card">
                    <div class="card-image">
                      <img src="{% static 'department/images/applicant.jpg' %}">
                      <span class="card-title">Абітурієнту</span>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col s6 m3 focus-on">
                <a href="#">
                  <div class="card">
                    <div class="card-image">
                      <img src="{% static 'department/images/science.jpg' %}">
                      <span class="card-title">Наука</span>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col s6 m3 focus-on">
                <a href="#">
                  <div class="card">
                    <div class="card-image">
                      <img src="{% static 'department/images/about_us.jpg' %}">
                      <span class="card-title">Про кафедру</span>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <!-- END FOCUS ON -->
          <!-- LATES NEWS -->
          <div class="col s12">
            <h4>Lates news</h4>
            <div class="divider simple-blue"></div>
            <div class="row">
              <div class="col s12 news">
                <div class="card blue-light">
                  <div class="card-image">
                    <img src="{% static 'department/images/ai_image.jpg' %}">
                  </div>
                  <div class="news-title">
                    <span class="card-title">News with image</span>
                  </div>
                  <div class="card-content text-blue">
                    <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
                  </div>
                  <div class="card-action">
                    <a href="#">This is a link</a>
                  </div>
                </div>
              </div>
              <div class="col s12 news">
                <div class="card blue-light">
                  <div class="news-title">
                    <span class="card-title">News without image</span>
                  </div>
                  <div class="card-content text-blue">
                    <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
                  </div>
                  <div class="card-action">
                    <a href="#">This is a link</a>
                  </div>
                </div>
              </div>
              <div class="col s12">
                <a class="waves-effect waves-light btn blue" href="index.html">Show more</a>
              </div>
            </div>
          </div>
          <!-- END LATES NEWS -->
        </div>
      </div>
      <div class="col s12 m4">
        <div class="row">
          <div class="col s12 interesting-facts">
            <h4>Interesting</h4>
            <div class="divider simple-blue"></div>
            <!-- Interestings facts -->
            <div class="row valign-wrapper">
              <div class="col s4 pie-chart">
                <canvas id="fact-chart-area1" width="300" height="300"></canvas>
              </div>
              <div class="col s8">
                <span class="center-align">Interesting fact 1</span>
              </div>
            </div>
            <div class="row valign-wrapper">
            <div class="col s12">
              <div class="row">
              <div class="col s4 pie-chart">
                <canvas id="fact-chart-area2" width="300" height="300"></canvas>
              </div>
              <div class="col s8">
                <span class="center-align">Interesting fact 2 Interesting fact 1 Interesting fact 1
                  Interesting fact 1Interesting fact 1vInteresting fact 1Interesting fact 1Interesting fact 1Interesting fact 1</span>
              </div>
              </div>
              </div>
            </div>
            <div class="row valign-wrapper">
                <div class="col s4">
                  <h4 class="center-align text-blue">45</h4>
                </div>
                <div class="col s8">
                  <span class="center-align">Interesting fact 3</span>
                </div>
            </div>
          </div>
          <!-- End Interesting Facts -->
          <!-- Advertisments -->
          <div class="col s12">
            <h4>Advertisments</h4>
             <div class="row ">
               <div class="col s12 news advertisment">
                <div class="card">
                  <div class="news-title">
                    <span class="card-title">Advertisment</span>
                  </div>
                  <div class="card-content text-blue">
                    <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
                  </div>
                  <div class="card-action">
                    <a href="#">This is a link</a>
                  </div>
                </div>
              </div>
              <div class="col s12 news advertisment">
                <div class="card">
                  <div class="news-title">
                    <span class="card-title">Advertisment</span>
                  </div>
                  <div class="card-content text-blue">
                    <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
                  </div>
                  <div class="card-action">
                    <a href="#">This is a link</a>
                  </div>
                </div>
              </div>
              <div class="col s12">
                <a class="waves-effect waves-light btn blue" href="index.html">Show more</a>
              </div>
             </div>
          </div>
          <!-- End Advertisments -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <h4>Partners</h4>
        <div class="divider simple-blue"></div>
        <div class="carousel">
            <a class="carousel-item" href="#one!"><img src="{% static 'department/images/partner.png' %}"></a>
            <a class="carousel-item" href="#two!"><img src="{% static 'department/images/partner.png' %}"></a>
            <a class="carousel-item" href="#three!"><img src="{% static 'department/images/partner.png' %}"></a>
            <a class="carousel-item" href="#four!"><img src="{% static 'department/images/partner.png' %}"></a>
            <a class="carousel-item" href="#five!"><img src="{% static 'department/images/partner.png' %}"></a>
        </div>
      </div>
    </div>
  </div>
  <!--  END CONTAINER-->

  <!-- FOOTER -->
  <footer class="page-footer blue-dark">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Department Bio</h5>
          <p class="grey-text text-lighten-4">We are the best department in the  Universe.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright blue-super-dark">
      <div class="container">
      Made by RedCat
      </div>
    </div>
  </footer>
  <!-- end FOOTER -->
{% endblock %}

{% block body-extra-scripts %}
    <script src="{% static 'advertisement/js/advertisement.js' %}"></script>
    <script src="{% static 'fact/js/fact.js' %}"></script>
    <script src="{% static 'news/js/news.js' %}"></script>
    <script src="{% static 'partner/js/partner.js' %}"></script>
    <script src="{% static 'technology/js/technology.js' %}"></script>
    <script src="{% static 'department/js/Chart.bundle.min.js' %}"></script>
    <script src="{% static 'department/js/init.js' %}"></script>
{% endblock %}
