{% extends 'department/materialized_base_page.html' %}

{% load staticfiles %}

{% block head-title-content %}
    Головна
{% endblock %}

{% block head-title-extra-content %}
    | Кафедра ПЗКС
{% endblock %}

{% block head-extra-links %}
    <link href="{% static 'department/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static 'department/css/login-form-style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static 'department/css/header-logo-style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static 'department/css/footer-style.css' %}" type="text/css" rel="stylesheet" media="screen, projection"/>
    {% block xhead-extra-links %}
    {% endblock %}
{% endblock %}

{% block body-content %}
    <!-- TOP NAVIGATION BAR -->
    <nav class="blue-super-dark" role="navigation">
        <div class="nav-wrapper container">
            <!-- BRAND BLOCK -->
            <div id="logo-container"  class="brand-logo header-logo-container left">
                <div class="logo-image-container">
                    <a href="/">
                        <img src="{% static 'department/images/Logo v.1.0.1 (background is none).png' %}"
                         class="header-logo-image">
                    </a>
                </div>
                  <div class="logo-caption-container valign-wrapper hide-on-med-and-down">
                      <a href="/">
                          <span class="header-logo-main-caption valign">Кафедра програмного забезпечення</span>
                          <span class="header-logo-low-caption valing left">ЧНУ ім. Ю. Федьковича</span>
                      </a>
                  </div>
            </div>
            <!-- END BRAND BLOCK -->

            <!-- LOGIN TRIGGER AND INTERNATIONALIZATION BLOCK -->
            <ul class="right">
                <li class="hide-on-small-only">
                    <a href="#ua"><img src="{% static 'department/images/uk.png' %}"></a>
                </li>
                <li class="hide-on-small-only">
                    <a href="#en"><img src="{% static 'department/images/en.png' %}"></a>
                </li>
                {% if request.user.is_authenticated %}
                    <!-- USER MENU BTN -->
                    <li class="non-hover" id="user-menu-btn-container">
                        <a class="btn-floating dropdown-button btn-large waves-effect waves-light blue blue-super-dark profile-button"
                           id="user-menu-btn" data-activates="user_menu">
                            <i class="material-icons">person</i>
                        </a>
                    </li>
                    <!-- END USER MENU BTN -->
                {% else %}
                    <li id="login-btn-container"><a href="#login_modal" class="modal-trigger">Login<i class="material-icons right">perm_identity</i></a></li>
                {% endif %}
            </ul>
            <!-- END LOGIN TRIGGER AND INTERNATIONALIZATION BLOCK -->

            <!-- LOGIN MOBILE -->
            <div id="login-mobile" class="side-nav mobile-login blue-dark">
                <div class="mobile-login-header center-align">Log in</div>
                <div class="error-alert-container blue-dark">
                    <div class="error-alert red darken-2 white-text" id="login_mobile_error_alert">
                        Wrong username or password!
                    </div>
                </div>
                <form class="login-container blue-dark" method="POST" id="login_mobile_form">
                    {% csrf_token %}
                    <p>
                        <input type="text" placeholder="Login" id="login_mobile" name="username">
                    </p>
                    <p>
                        <input id="password_mobile" type="password" name="password" placeholder="Password">
                    </p>
                    <p>
                        <input type="checkbox" id="remember_me_mobile" name="remember_user" checked/>
                        <label for="remember_me_mobile" class="white-text">Remember me?</label>
                    </p>
                    <p>
                        <input type="submit" value="Log in" id="login_mobile_form_submit">
                    </p>
                </form>
                <div class="forget-password blue-dark"><a href="#" >Create account</a></div>
                <div class="forget-password blue-dark"><a href="#" >Forgot Password?</a></div>
            </div>
            <!-- END LOGIN MOBILE -->

            <!-- LOGIN MODAl -->
            <!-- MODAL STRUCTURE -->
            <div  id="login_modal" class="modal login blue-super-dark">
                <h2 class="login-header">Log in</h2>
                <div class="error-alert-container blue-dark">
                    <div class="error-alert red darken-2 white-text" id="login_modal_error_alert">
                        Wrong username or password!
                    </div>
                </div>
                <form class="login-container blue-dark" action="" method="POST" id="login_modal_form">
                    {% csrf_token %}
                    <p>
                        <input type="text" placeholder="Login" id="login_modal" name="username">
                    </p>
                    <p>
                        <input id="password_modal" type="password" name="password" placeholder="Password">
                    </p>
                    <p>
                        <input type="checkbox" id="remember_me" name="remember_user" checked/>
                        <label for="remember_me" class="white-text">Remember me?</label>
                    </p>
                    <p>
                        <input type="submit" value="Log in" id="login_modal_form_submit">
                        <a class="btn-floating btn-large waves-effect waves-light blue blue-super-dark registration-btn">
                            <i class="material-icons">person_add</i>
                        </a>
                    </p>
                </form>
                <div class="forget-password blue-dark"><a href="#" >Forgot Password?</a></div>
            </div>
            <!-- END LOGIN MODAL -->

            <!-- USER MENU DROP-DOWN -->
            <ul id="user_menu" class="dropdown-content blue-super-dark user-menu">
                <li>
                    <div class="user-profile blue-dark text-white">
                        <div class="valign-wrapper">
                            <div class="user-profile-avatar">
                                <img src="images/avatar.jpg" alt="" class="circle responsive-img user-avatar-image">
                            </div>
                            <div>
                                <div class="user-profile-name">{{ request.user.username }}</div>
                                <div>{{ request.user.email }}</div>
                            </div>
                        </div>
                    </div>
                </li>
                {% if request.user.is_staff %}
                    <li><a href="/admin/">Administration</a></li>
                {% endif %}
                <li><a href="#">Action1</a></li>
                <li><a href="#">Action2</a></li>
                <li class="divider"></li>
                <li><a id="logout-btn">Logout</a></li>
            </ul>
            <!-- END USER MENU DROP-DOWN -->
        </div>
    </nav>
    <!-- END TOP NAVIGATION BAR -->

    <!-- BOTTOM NAVIGATION BAR -->
    <nav class="blue-dark" role="navigation">
        <div class="nav-wrapper container">
            <!-- MOBILE NAV UL TRIGGER -->
            <a href="#" id="mobile-nav-btn" data-activates="nav-mobile" class="left button-collapse"><i class="material-icons">menu</i></a>

            <!-- MOBILE NAV UL -->
            <ul id="nav-mobile" class="side-nav blue-super-dark mobile-nav">
                <li><a href="/">Головна</a></li>
                <!-- PAGES DROP-DOWN TRIGGERS -->
                <li>
                    <a class="dropdown-button mobile-dropdown-button" href="#!"
                       data-activates="about-cathedra-dropdown-content">
                        Про кафедру<i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>
                <li>
                    <a class="dropdown-button mobile-dropdown-button" href="#!"
                       data-activates="research-activities-dropdown-content">
                        Наукова діяльність<i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>
                <li>
                    <a class="dropdown-button mobile-dropdown-button" href="#!"
                       data-activates="for-students-dropdown-content">
                        Студентам<i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>
                <li>
                    <a class="dropdown-button mobile-dropdown-button" href="#!"
                       data-activates="for-applicants-dropdown-content">
                        Абітурієнтам<i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>
                <!-- END PAGES DROP-DOWN TRIGGERS -->
                <li><a href="/post/news/page-1/">Новини</a></li>
                <li><a href="/post/advertisements/page-1/">Оголошення</a></li>
                <li><a href="/contacts/">Контакти</a></li>
            </ul>
            <!-- END MOBILE NAV UL -->

            <!-- DESKTOP NAV UL -->
            <ul class="left hide-on-med-and-down mobile-nav">
                <li><a href="/">Головна</a></li>
                <!-- PAGES DROP-DOWN TRIGGERS -->
                <li>
                    <a class="dropdown-button mobile-dropdown-button" href="#!"
                       data-activates="about-cathedra-dropdown-content">
                        Про кафедру<i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>
                <li>
                    <a class="dropdown-button mobile-dropdown-button" href="#!"
                       data-activates="research-activities-dropdown-content">
                        Наукова діяльність<i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>
                <li>
                    <a class="dropdown-button mobile-dropdown-button" href="#!"
                       data-activates="for-students-dropdown-content">
                        Студентам<i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>
                <li>
                    <a class="dropdown-button mobile-dropdown-button" href="#!"
                       data-activates="for-applicants-dropdown-content">
                        Абітурієнтам<i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>
                <!-- END PAGES DROP-DOWN TRIGGERS -->
                <li><a href="/post/news/page-1/">Новини</a></li>
                <li><a href="/post/advertisements/page-1/">Оголошення</a></li>
                <li><a href="/contacts/">Контакти</a></li>
            </ul>
            <!-- END DESKTOP NAV UL -->

            <!-- PAGES DROP-DOWN CONTENTS -->
            <ul id="about-cathedra-dropdown-content" class="dropdown-content">
                <li><a href="/under-development/">Завідуючий кафедри</a></li>
                <li><a href="/under-development/">Колектив кафедри</a></li>
                <li><a href="/under-development/">Досягнення студентів</a></li>
                <li><a href="/under-development/">Наші партнери</a></li>
                <li><a href="/under-development/">Фотогалерея</a></li>
            </ul>
            <ul id="research-activities-dropdown-content" class="dropdown-content">
                <li><a href="/under-development/">Публікації</a></li>
                <li><a href="/under-development/">Розробки</a></li>
                <li><a href="/under-development/">Дисертації</a></li>
                <li><a href="/under-development/">Конференції</a></li>
            </ul>
            <ul id="for-students-dropdown-content" class="dropdown-content">
                <li><a href="/academic-subjects/">Дисципліни</a></li>
                <li><a href="/under-development/">Розклад занять</a></li>
                <li><a href="/under-development/">Корисні посилання</a></li>
                <li><a href="/under-development/">Рейтинг успішності</a></li>
            </ul>
            <ul id="for-applicants-dropdown-content" class="dropdown-content">
                <li><a href="/applicant-in-general/">Загальна інформація</a></li>
                <li><a href="/about-specialization/">Про спеціальність</a></li>
                <li><a href="http://vstup.chnu.edu.ua/?page_id=44" target="_blank">Умови вступу</a></li>
            </ul>
            <!-- END PAGES DROP-DOWN CONTENTS -->
        </div>
    </nav>
    <!-- END BOTTOM NAVIGATION BAR -->

    <!-- BLOCK SLIDER -->
    {% block slider %}
        <div class="slider">
            <ul class="slides">
                <li>
                    <img src="{% static 'department/images/soft1.jpg' %}"> <!-- random image -->
                    <div class="caption-container">
                        <div class="caption center-align">
                            <div class="slider-header">
                                <h3>This is our big Tagline!</h3>
                                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                            </div>
                            <span class="learn-more-container">
                                <a class="waves-effect waves-light btn blue learn-more-btn" href="index.html">Learn more</a>
                            </span>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="{% static 'department/images/soft2.jpg' %}"> <!-- random image -->
                    <div class="caption-container">
                        <div class="caption right-align">
                            <div class="slider-header">
                                <h3>This is our big Tagline!</h3>
                                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                            </div>
                            <span class="learn-more-container">
                                <a class="waves-effect waves-light btn blue learn-more-btn" href="index.html">Learn more</a>
                            </span>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="{% static 'department/images/soft3.png' %}"> <!-- random image -->
                    <div class="caption-container">
                        <div class="caption left-align">
                            <div class="slider-header">
                                <h3>This is our big Tagline!</h3>
                                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                            </div>
                            <span class="learn-more-container">
                                <a class="waves-effect waves-light btn blue learn-more-btn" href="index.html">Learn more</a>
                            </span>
                        </div>
                    </div>
                </li>
                {% for slide in slides %}
                    <li>
                        <img src="{{ slide.background_image.url }}">
                        <div class="caption center-align">
                            <h3>{{ slide.big_slogan }}</h3>
                            <h5 class="light grey-text text-lighten-3">{{ slide.small_slogan }}</h5>
                            <a class="waves-effect waves-light btn blue learn-more-btn" href="{{ slide.action_href }}">Learn more</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endblock %}
    <!-- END BLOCK SLIDER -->

    {% block container %}
        <!-- CONTAINER -->
        <div class="container">
            {% block container_before_inner_html %}
            {% endblock %}

            {% block container_inner_html %}
                {% block container_before_1_row %}
                {% endblock %}

                {% block container_1_row %}
                    <div class="row">
                        {% block container_1_row_before_inner_html %}
                        {% endblock %}

                        {% block container_1_row_inner_html %}
                            {% block container_1_row_col_s12_m8 %}
                                <div class="col s12 m8">
                                    {% block container_1_row_col_s12_m8_before_inner_html %}
                                    {% endblock %}

                                    {% block container_1_row_col_s12_m8_inner_html %}
                                        {% block container_1_row_col_s12_m8_before_1_row %}
                                        {% endblock %}

                                        {% block container_1_row_col_s12_m8_1_row %}
                                            <div class="row">
                                                {% block container_1_row_col_s12_m8_1_row_before_inner_html %}
                                                {% endblock %}

                                                {% block container_1_row_col_s12_m8_1_row_inner_html %}
                                                    {% block container_1_row_col_s12_m8_1_row_before_focus_on %}
                                                    {% endblock %}

                                                    <!-- BLOCK FOCUS ON -->
                                                    {% block container_1_row_col_s12_m8_1_row_focus_on %}
                                                        <div class="col s12">
                                                            <h4>Зверніть увагу</h4>
                                                            <div class="divider simple-blue"></div>
                                                            <div class="row">
                                                                <div class="col s6 m3 focus-on">
                                                                    <a href="#">
                                                                        <div class="card">
                                                                            <div class="card-image">
                                                                                <img src="{% static 'department/images/student.jpg' %}">
                                                                                <span class="card-title">Студенту</span>
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                                <div class="col s6 m3 focus-on">
                                                                    <a href="#">
                                                                        <div class="card">
                                                                            <div class="card-image">
                                                                                <img src="{% static 'department/images/applicant.jpg' %}">
                                                                                <span class="card-title">Абітурієнту</span>
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                                <div class="col s6 m3 focus-on">
                                                                    <a href="#">
                                                                        <div class="card">
                                                                            <div class="card-image">
                                                                                <img src="{% static 'department/images/science.jpg' %}">
                                                                                <span class="card-title">Наука</span>
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                                <div class="col s6 m3 focus-on">
                                                                    <a href="#">
                                                                        <div class="card">
                                                                            <div class="card-image">
                                                                                <img src="{% static 'department/images/about_us.jpg' %}">
                                                                                <span class="card-title">Про кафедру</span>
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endblock %}
                                                    <!-- END BLOCK FOCUS ON -->

                                                    {% block container_1_row_col_s12_m8_1_row_between_focus_on_and_technologies %}
                                                    {% endblock %}

                                                    <!-- BLOCK TECHNOLOGIES -->
                                                    {% block container_1_row_col_s12_m8_1_row_technologies %}
                                                        <div class="col s12 technologies">
                                                            <h4>Технології</h4>
                                                            <div class="carousel" id="technologies-carousel">
                                                                {% for technology in technologies %}
                                                                    <a class="carousel-item" href="#" title="{{ technology.name }}">
                                                                        <img src="{{ technology.logotype.url }}" title="{{ technology.name }}"
                                                                             alt="{{ technology.name }}">
                                                                    </a>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    {% endblock %}
                                                    <!-- END TECHNOLOGIES BLOCK -->

                                                    {% block container_1_row_col_s12_m8_1_row_between_technologies_and_news %}
                                                    {% endblock %}

                                                    <!-- BLOCK NEWS -->
                                                    {% block container_1_row_col_s12_m8_1_row_news %}
                                                        {% block container_1_row_col_s12_m8_1_row_before_news_large_and_medium %}
                                                        {% endblock %}

                                                        {% block container_1_row_col_s12_m8_1_row_news_large_and_medium %}
                                                            <!-- LARGE AND MEDIUM NEWS -->
                                                            <div class="col s12 hide-on-small-only">
                                                                <h4>Новини</h4>
                                                                <div class="divider simple-blue"></div>
                                                                {% for article in news %}
                                                                    <div class="row news-record">
                                                                        <div class="col s12 m12 title-container">
                                                                            <h4 class="news-title">
                                                                                <a href="{{ article.single_url }}">{{ article.title }}</a>
                                                                            </h4>
                                                                        </div>
                                                                        <div class="col s12 m12">
                                                                            <div class="info-panel">
                                                                                <i class="material-icons">local_offer</i>
                                                                                {% for tag in article.tag.all %}
                                                                                    <a href="#">{{ tag.name }}</a>
                                                                                {% endfor %}
                                                                            </div>
                                                                        </div>
                                                                        <div class="col s3 m4">
                                                                            <img src="
                                                                                {% if article.front_image %}
                                                                                    {{ article.front_image.url }}
                                                                                {% else %}
                                                                                    {% static 'department/images/no-thumb.png' %}
                                                                                {% endif %}"
                                                                            alt="{{ article.title }}" title="{{ article.title }}" class="responsive-img">
                                                                        </div>
                                                                        <div class="col s9 m8">
                                                                            {{ article.short_description }}
                                                                        </div>
                                                                        <div class="col s12 m12">
                                                                            <div class="info-block">
                                                                                <div class="inside-block ">
                                                                                    <span class="valign-wrapper">
                                                                                        <i class="material-icons">event</i>
                                                                                        <a href="#"><span class="valign text">{{ article.publication_date_time }}</span></a>
                                                                                    </span>
                                                                                </div>
                                                                                <div class="inside-block ">
                                                                                    <span class="valign-wrapper">
                                                                                        <i class="material-icons">visibility</i><span class="valign text">{{ article.views }}</span>
                                                                                    </span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                {% endfor %}

                                                                {% block container_1_row_col_s12_m8_1_row_news_large_and_medium_show_more %}
                                                                    <div class="divider"></div>
                                                                    <div class="row">
                                                                        <!-- SHOW MORE BUTTON -->
                                                                        <div class="col s12 m12 show-more-container">
                                                                            <a class="waves-effect waves-light btn  blue show-more-button" href="/post/news/page-1/">Show more</a>
                                                                        </div>
                                                                    </div>
                                                                {% endblock %}
                                                            </div>
                                                            <!-- END LARGE AND MEDIUM NEWS -->
                                                        {% endblock %}

                                                        {% block container_1_row_col_s12_m8_1_row_between_news_large_and_medium_and_news_small %}
                                                        {% endblock %}

                                                        {% block container_1_row_col_s12_m8_1_row_news_small %}
                                                            <!-- SMALL NEWS -->
                                                            <div class="col s12 hide-on-med-and-up">
                                                                <h4>Новини</h4>
                                                                <div class="divider simple-blue"></div>
                                                                {% for article in news %}
                                                                    <div class="card news-card">
                                                                        <div class="card-image">
                                                                            <img src="
                                                                                {% if article.image %}
                                                                                    {{ article.image.url }}
                                                                                {% else %}
                                                                                    {% static 'department/images/no-thumb.png' %}
                                                                                {% endif %}"
                                                                            alt="{{ article.title }}" title="{{ article.title }}" class="responsive-img">
                                                                            <span class="card-title">{{ article.title }}</span>
                                                                        </div>
                                                                        <div class="card-content">
                                                                            <p><!-- TODO check here -->
                                                                            <div class="info-panel">
                                                                                <a href="#"><i class="material-icons">access_time</i>{{ article.publication_date_time }}</a>
                                                                                <a href="#"><i class="material-icons">remove_red_eye</i>{{ article.views }}</a>
                                                                            </div>
                                                                            <p>{{ article.short_description }}</p>
                                                                        </div>
                                                                        <div class="card-action">
                                                                            <a href="{{ article.single_url }}">Читати далі</a>
                                                                        </div>
                                                                    </div>
                                                                {% endfor %}

                                                                {% block container_1_row_col_s12_m8_1_row_news_small_show_more %}
                                                                    <div class="row">
                                                                        <!-- SHOW MORE BUTTON -->
                                                                        <div class="col s12">
                                                                            <a class="waves-effect waves-light btn  blue show-more-button" href="/post/news/page-1">Show more</a>
                                                                        </div>
                                                                    </div>
                                                                {% endblock %}
                                                            </div>
                                                            <!-- END SMALL NEWS -->
                                                        {% endblock %}

                                                        {% block container_1_row_col_s12_m8_1_row_after_news_small %}
                                                        {% endblock %}
                                                    {% endblock %}
                                                    <!-- END BLOCK NEWS -->

                                                    {% block container_1_row_col_s12_m8_1_row_after_news %}
                                                    {% endblock %}
                                                {% endblock %}

                                                {% block container_1_row_col_s12_m8_1_row_after_inner_html %}
                                                {% endblock %}
                                            </div>
                                        {% endblock %}

                                        {% block container_1_row_col_s12_m8_after_1_row %}
                                        {% endblock %}
                                    {% endblock %}

                                    {% block container_1_row_col_s12_m8_after_inner_html %}
                                    {% endblock %}
                                </div>
                            {% endblock %}

                            {% block container_1_row_col_s12_m4 %}
                                <div class="col s12 m4">
                                    {% block container_1_row_col_s12_m4_before_inner_html %}
                                    {% endblock %}

                                    {% block container_1_row_col_s12_m4_inner_html %}
                                        {% block container_1_row_col_s12_m4_before_1_row %}
                                        {% endblock %}

                                        {% block container_1_row_col_s12_m4_1_row %}
                                            <div class="row">
                                                {% block container_1_row_col_s12_m4_1_row_before_inner_html %}
                                                {% endblock %}

                                                {% block container_1_row_col_s12_m4_1_row_inner_html %}
                                                    {% block container_1_row_col_s12_m4_1_row_before_facts %}
                                                    {% endblock %}

                                                    <!-- BLOCK FACTS -->
                                                    {% block container_1_row_col_s12_m4_1_row_facts %}
                                                        <div class="col s12 interesting-facts hide-on-small-and-down">
                                                            {% block container_1_row_col_s12_m4_1_row_facts_inner_html %}
                                                                <h4>Це цікаво</h4>
                                                                <div class="divider simple-blue"></div>
                                                                <div class="row valign-wrapper interesting-fact">
                                                                    <div class="col l2 m4 fact-value center">
                                                                        180
                                                                    </div>
                                                                    <div class="col l10 m8 fact-description">
                                                                        Дисциплін вивчає студент за увесь час свого навчання
                                                                    </div>
                                                                </div>
                                                                <div class="divider blue-light"></div>
                                                                <div class="row valign-wrapper interesting-fact">
                                                                    <div class="col l2 m4 fact-value center">
                                                                        90%
                                                                    </div>
                                                                    <div class="col l10 m8 fact-description">
                                                                        Випускників закінчують навчання з відзнакою
                                                                    </div>
                                                                </div>
                                                                <div class="divider blue-light"></div>
                                                                <div class="row valign-wrapper interesting-fact">
                                                                    <div class="col l2 m4 fact-value center">
                                                                        90%
                                                                    </div>
                                                                    <div class="col l10 m8 fact-description">
                                                                        Працевлаштовуються по спеціальності
                                                                    </div>
                                                                </div>
                                                                <div class="divider blue-light"></div>
                                                                <div class="row valign-wrapper interesting-fact">
                                                                    <div class="col l2 m4 fact-value center">
                                                                        25
                                                                    </div>
                                                                    <div class="col l10 m8 fact-descriprion">
                                                                        Середній вік викладачів на кафедрі (один із найнижчих у вузі)
                                                                    </div>
                                                                </div>
                                                            {% endblock %}
                                                        </div>
                                                    {% endblock %}
                                                    <!-- END BLOCK FACTS -->

                                                    {% block container_1_row_col_s12_m4_1_row_between_facts_and_advertisements %}
                                                    {% endblock %}

                                                    <!-- BLOCK ADVERTISEMENTS -->
                                                    {% block container_1_row_col_s12_m4_1_row_advertisements %}
                                                        <div class="col s12">
                                                            {% block container_1_row_col_s12_m4_1_row_advertisements_inner_html %}
                                                                <div class="divider simple-blue"></div>
                                                                <h4>Оголошення</h4>
                                                                <div class="row">
                                                                    {% for advertisement in advertisements %}
                                                                        <div class="col s12 news row-post">
                                                                            <div class="card">
                                                                                <div class="news-title">
                                                                                    <span class="card-title">{{ advertisement.title }}</span>
                                                                                </div>
                                                                                <div class="card-content text-blue">
                                                                                    <p>{{ advertisement.short_description }}</p>
                                                                                </div>
                                                                                <div class="card-action">
                                                                                    <a href="{{ advertisement.single_url }}">More about this</a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    {% endfor %}
                                                                </div>
                                                                <div class="row">
                                                                    <!-- ADVERTISEMENTS SHOW MORE BUTTON -->
                                                                    <div class="col s12">
                                                                        <a class="waves-effect waves-light btn  blue show-more-button" href="/post/advertisements/page-1/">Show more</a>
                                                                    </div>
                                                                    <!-- END ADVERTISEMENTS SHOW MORE BUTTON -->
                                                                </div>
                                                            {% endblock %}
                                                        </div>
                                                    {% endblock %}
                                                    <!-- END BLOCK ADVERTISEMENTS -->

                                                    {% block container_1_row_col_s12_m4_1_row_after_advertisements %}
                                                    {% endblock %}
                                                {% endblock %}

                                                {% block container_1_row_col_s12_m4_1_row_after_inner_html %}
                                                {% endblock %}
                                            </div>
                                        {% endblock %}

                                        {% block container_1_row_col_s12_m4_after_1_row %}
                                        {% endblock %}
                                    {% endblock %}

                                    {% block container_1_row_col_s12_m4_after_inner_html %}
                                    {% endblock %}
                                </div>
                            {% endblock %}
                        {% endblock %}

                        {% block container_1_row_after_inner_html %}
                        {% endblock %}
                    </div>
                {% endblock %}

                {% block container_between_1_row_and_2_row %}
                {% endblock %}

                {% block container_2_row %}
                    <div class="row">
                        {% block container_2_row_before_inner_html %}
                        {% endblock %}

                        {% block container_2_row_inner_html %}
                            {% block container_inner_html_2_row_before_partners %}
                            {% endblock %}

                            {% block container_2_row_partners %}
                                <div class="col s12">
                                    {% block container_2_row_partners_inner_html %}
                                        <h4>Партнери</h4>
                                        <div class="divider simple-blue"></div>
                                        <div class="carousel" id="partners-carousel">
                                            {% for partner in partners %}
                                                <a class="carousel-item" href="{{ partner.site_url }}" title="{{ partner.name }}">
                                                    <img src="{{ partner.logotype.url }}" title="{{ partner.name }}" alt="{{ partner.name }}">
                                                </a>
                                            {% endfor %}
                                        </div>
                                    {% endblock %}
                                </div>
                            {% endblock %}

                            {% block container_2_row_after_partners %}
                            {% endblock %}
                        {% endblock %}

                        {% block container_2_row_after_inner_html %}
                        {% endblock %}
                    </div>
                {% endblock %}

                {% block container_after_2_row %}
                {% endblock %}
            {% endblock %}

            {% block container_after_inner_html %}
            {% endblock %}
        </div>
        <!-- END CONTAINER -->
    {% endblock %}

    <!-- UP BUTTON -->
    <a class="btn-floating btn-large waves-effect waves-light blue up_button" id="up_button">
        <i class="material-icons">keyboard_arrow_up</i>
    </a>
    <!-- END UP BUTTON -->

    <!-- FOOTER -->
    <footer class="page-footer blue-dark">
        <div class="container">
            <div class="row">
                <div class="col l3 s12 footer-block personalization">
                    <div class="row">
                        <div class="col s12">
                            <h5>Додому</h5>
                            <ul class="personalization-ul">
                                <li><a class="white-text" href="/"><i class="material-icons">home</i>Головна</a></li>
                            </ul>
                        </div>
                        <div class="col s12">
                            <h5>Персоналізація</h5>
                            <ul class="personalization-ul">
                                {% if request.user.is_authenticated %}
                                    <li><a class="white-text" href="/under-development/"><i class="material-icons">person</i>В особистий кабінет</a></li>
                                {% else %}
                                    <li><a class="white-text" href="/under-development/"><i class="material-icons">perm_identity</i>Увійти</a></li>
                                    <li><a class="white-text" href="/under-development/"><i class="material-icons">person_add</i>Зареєструватися</a></li>
                                {% endif %}
                            </ul>
                        </div>
                        <div class="col s12">
                            <h5>Підпишіться на оновлення</h5>
                            <form class="update" action="" method="POST">
                                <input type="text" placeholder="Email" />
                                <input type="submit" value="Підписатися" />
                            </form>
                        </div>
                        <div class="col s12">
                            <h5>Знайдіть нас</h5>
                            <ul>
                                <li><a class="white-text" href="/contacts/">Контакти</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col l9 s12">
                    <div class="row footer-block">
                        <div class="col l4 m6 s12">
                            <h5>Про кафедру</h5>
                            <ul>
                                <li><a class="white-text" href="/under-development/">Завідуючий кафедрою</a></li>
                                <li><a class="white-text" href="/under-development/">Колектив кафедри</a></li>
                                <li><a class="white-text" href="/under-development/">Досягнення студентів</a></li>
                                <li><a class="white-text" href="/under-development/">Наші партнери</a></li>
                                <li><a class="white-text" href="/under-development/">Фотогалерея</a></li>
                            </ul>
                        </div>
                        <div class="col l4 m6 s12">
                            <h5>Наука</h5>
                            <ul>
                                <li><a class="white-text" href="/under-development/">Публікації</a></li>
                                <li><a class="white-text" href="/under-development/">Розробки</a></li>
                                <li><a class="white-text" href="/under-development/">Дисертації</a></li>
                                <li><a class="white-text" href="/under-development/">Конференції</a></li>
                            </ul>
                        </div>
                        <div class="col l4 m6 s12">
                            <h5>Наші послуги</h5>
                            <ul>
                                <li><a class="white-text" href="/under-development/">Детальніше про послуги</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row footer-block">
                        <div class="col l4 m6 s12">
                            <h5>Студентам</h5>
                            <ul>
                                <li><a class="white-text" href="/under-development/">Навчальні дисципліни</a></li>
                                <li><a class="white-text" href="/under-development/">Розклад занять</a></li>
                                <li><a class="white-text" href="/under-development/">Корисні посилання</a></li>
                                <li><a class="white-text" href="/under-development/">Рейтинг успішності</a></li>
                            </ul>
                        </div>
                        <div class="col l4 m6 s12">
                            <h5>Абітурієнтам</h5>
                            <ul>
                                <li><a class="white-text" href="/applicant/">Умови вступу</a></li>
                            </ul>
                        </div>
                        <div class="col l4 m6 s12">
                            <h5>Останні публікації</h5>
                            <ul>
                                <li><a class="white-text" href="/post/news/page-1/">Новини</a></li>
                                <li><a class="white-text" href="/post/advertisements/page-1/">Оголошення</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright blue-super-dark">
            <div class="container">
                <div class="row">
                    <div class="col l8 s12">
                        Кафедра ПЗКС ЧНУ ім. Ю. Федьковича. Всі права захищені &copy; 2016 Чернівці, Україна
                    </div>
                    <div class="col l4 hide-on-med-and-down right-align">
                        Made by RedCat
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end FOOTER -->
{% endblock %}

{% block body-extra-scripts %}
    <script src="{% static 'department/js/init.js' %}"></script>
    {% block xbody-extra-scripts %}
    {% endblock %}
{% endblock %}
