{% extends 'department/info_page.html' %}

{% block head-title-content %}{% endblock %}

{% block container-right-col %}
<div class="row">
    <!-- ADVERTISMENTS BLOCK -->
    <!-- TODO: init this block in backend -->
    <div id="advertisments_block" class="col s12 m12 hide-on-med-and-down">
        <h4>Оголошення</h4>
        <div class="divider simple-blue"></div>
        {% for advertisement in advertisements %}
        <div class="row advertisement valign-wrapper">
            <div class="col s3 m4">
                {% if advertisement.image %}
                <img src="{{ advertisement.image.url }}" alt="" class="responsive-img">
                {% endif %}
            </div>
            <div class="col s9 m8 valign">
                <span class="advertisement-title"><a href="/advertisement/id{{ advertisement.id }}/">{{ advertisement.title }}</a></span>
            </div>
        </div>
        <div class="divider"></div>
        {% endfor %}
    </div>
    <!-- END ADVERTISMENTS BLOCK -->

    <!-- Lates news block Large-->
    <div class="col s12 hide-on-med-and-down">
        <h4>Останні новини</h4>
        <div class="divider simple-blue"></div>
        {% for news in latest_news %}
            <div class="row side-news valign-wrapper">
                  <div class="col s3">
                    <img src="{{ news.image.url }}" alt="" class="responsive-img">
                  </div>
                  <div class="col s9 valign">
                    <span class="side-news-title"><a href="/news/id{{ news.id }}/">{{ news.title }}</a></span>
                  </div>
            </div>
            <div class="divider"></div>
        {% endfor %}
          <!-- Medium -->
          <div class="col s12 hide-on-small-and-down hide-on-large-only">
            <h4>Останні новини</h4>
            <div class="divider simple-blue"></div>
              {% for news in latest_news %}
                <div class="row side-news valign-wrapper">
                  <div class="col s12 valign">
                    <span class="side-news-title"><a href="/news/id{{ news.id }}/">{{ news.title }}</a></span>
                  </div>
                </div>
                <div class="divider"></div>
              {% endfor %}
          </div>
    <!-- End lates news block -->
    </div>
</div>
{% endblock %}