{% extends 'department/info_page.html' %}

{% load staticfiles %}

{% block head-title-content %}{% endblock %}

{% block container-right-col %}
<div class="row">
    <!-- Lates news block Large-->
    <div class="col s12 hide-on-med-and-down">
        <h4>Останні новини</h4>
        <div class="divider simple-blue"></div>
        {% for news in latest_news %}
            <div class="row side-news valign-wrapper">
                  <div class="col s3">
                    <img src="
                         {% if news.image %}
                            {{ news.image.url }}
                         {% else %}
                            {% static 'department/images/no-thumb.png' %}
                         {% endif %}"
                    alt="{{ news.title }}" title="{{ news.title }}" class="responsive-img">
                  </div>
                  <div class="col s9 valign">
                    <span class="side-news-title"><a href="/news/id{{ news.id }}/">{{ news.title }}</a></span>
                  </div>
            </div>
            <div class="divider"></div>
        {% endfor %}
          <!-- Medium -->
          <div class="col s12 hide-on-small-and-down hide-on-large-only">
            <h4>Останні новини</h4>
            <div class="divider simple-blue"></div>
              {% for news in latest_news %}
                <div class="row side-news valign-wrapper">
                  <div class="col s12 valign">
                    <span class="side-news-title"><a href="/news/id{{ news.id }}/">{{ news.title }}</a></span>
                  </div>
                </div>
                <div class="divider"></div>
              {% endfor %}
          </div>
    <!-- End lates news block -->
    </div>
</div>
{% endblock %}