{% extends 'department/index.html' %}

{% block head-title-content %}Сторінка публікації{% endblock %}

{% block slider %}{% endblock %}

{% block container_1_row_col_s12_m8_1_row_focus_on %}{% endblock %}
{% block container_1_row_col_s12_m8_1_row_technologies %}{% endblock %}

{% block container_1_row_col_s12_m8_1_row_after_news_small %}
    <!-- PAGINATION -->
    <div class="col s12 center-align">
        <ul class="pagination">
            {% if paginator.num_pages != 0 %}
                <li class="{% if active_page.has_previous %}waves-effect{% else %}disabled{% endif %} edge">
                    <a href="{% if active_page.has_previous %}{{ page_url }}{{ active_page.previous_page_number }}
                    {% else %}#!{% endif %}">
                        <i class="material-icons">chevron_left</i>
                    </a>
                </li>
                {% for page_number in paginator.page_range %}
                    <li class="waves-effect {% if active_page.number == page_number %}active{% endif %}">
                        <a href="{{ page_url }}{{ page_number }}">{{ page_number }}</a>
                    </li>
                {% endfor %}
                <li class="{% if active_page.has_next %}waves-effect{% else %}disabled{% endif %} edge">
                    <a href="{% if active_page.has_next %}{{ page_url }}{{ active_page.next_page_number }}
                    {% else %}#!{% endif %}">
                        <i class="material-icons">chevron_right</i>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
    <!-- END PAGINATION -->
{% endblock %}

{% block container_1_row_col_s12_m4_1_row_facts %}
    <!-- SEARCH -->
    <div class="col s12 hide-on-med-and-down">
        <h4>Пошук</h4>
        <div class="divider simple-blue"></div>
        <div class="search">
            <form role="form" action="{{ search_form_action }}" method="get">
                <div class="row">
                  <div class="col s10">
                    <input type="text" placeholder="Шукати тут..." required/>
                  </div>
                  <div class="col s2">
                    <button class="waves-effect waves-light btn blue-dark" type="submit"><i class="material-icons">search</i></button>
                  </div>
                </div>
            </form>
        </div>
    </div>
    <!-- END SEARCH -->
{% endblock %}

{% block container_1_row_col_s12_m4_1_row_after_advertisements %}
    <!-- TODO place here column with cloud of tags -->
{% endblock %}

{% block container_2_row %}{% endblock %}
