{% extends 'department/usual_page_with_search.html' %}

{% load staticfiles %}

{% block head-title-content %}Сторінка з пошуком і топом оголошень{% endblock %}

{% block container_1_row_col_s12_m4_1_row_attentors %}
    <!-- ATTENTORS LARGE -->
    <div id="advertisments_block" class="col s12 m12 hide-on-med-and-down">
        <h4>Оголошення</h4>
        <div class="divider simple-blue"></div>
        {% for attentor in attentors %}
        <div class="row row-post valign-wrapper">
            <div class="col s3 m4">
                <img src="
                    {% if attentor.front_image %}
                        {{ attentor.front_image.url }}
                    {% else %}
                        {% static 'department/images/no-thumb.png' %}
                    {% endif %}"
                alt="{{ attentor.title }}"
                title="{{ attentor.title }}"
                class="responsive-img">
            </div>
            <div class="col s9 m8 valign">
                <span class="side-post-title"><a href="/attentor/id{{ attentor.id }}/">{{ attentor.title }}</a></span>
            </div>
        </div>
        <div class="divider"></div>
        {% endfor %}
    </div>
    <!-- END ATTENTORS LARGE -->
{% endblock %}