{% extends 'department/page_without_slider_and_partners.html' %}

{% block head-title-content %}Формат типової сторінки сайту{% endblock %}

{% block container_1_row_col_s12_m8_1_row_focus_on %}{% endblock %}
{% block container_1_row_col_s12_m8_1_row_technologies %}{% endblock %}
{% block container_1_row_col_s12_m8_1_row_news_large_and_medium %}{% endblock %}
{% block container_1_row_col_s12_m8_1_row_news_small %}{% endblock %}

{% block container_1_row_col_s12_m4_1_row_facts %}{% endblock %}
{% block container_1_row_col_s12_m4_1_row_attentors %}{% endblock %}