{% extends 'department/usual_page.html' %}

{% block head-title-content %}{% endblock %}

{% block container_1_row_col_s12_m4_1_row_facts %}
    <!-- SEARCH -->
    <div class="col s12 hide-on-med-and-down">
        <h4>Пошук</h4>
        <div class="divider simple-blue"></div>
        <div class="search">
            <form role="form" action="{{ search_form_action }}" method="get">
                <div class="row">
                  <div class="col s10">
                    <input type="text" placeholder="Шукати тут..." required/>
                  </div>
                  <div class="col s2">
                    <button class="waves-effect waves-light btn blue-dark" type="submit"><i class="material-icons">search</i></button>
                  </div>
                </div>
            </form>
        </div>
    </div>
    <!-- END SEARCH -->
{% endblock %}