{% extends 'post/usual_page_with_row_and_side_post_blocks.html' %}

{% load staticfiles %}

{% block head-title-content %}{{ post.title }}{% endblock %}

{% block xhead-extra-links %}
    <link type="text/css" rel="stylesheet" href="{% static 'post/css/post.css' %}">
{% endblock %}

{% block container_1_row_col_s12_m8_1_row_focus_on %}
    <div class="col s12">
        <div class="row attentor-content">
            <div class="col s12 attentor-header">
                <h4>{{ post.title }}</h4>
            </div>
            <div class="col s12">
                <div class="info-panel">
                    <i class="material-icons">local_offer</i>
                    {% for tag in post.tags.all %}
                        <a href="#">{{ tag.name }}</a>,
                    {% endfor %}
                </div>
            </div>
            <div class="col s12">
                <img src="
                    {% if post.front_image %}
                        {{ post.front_image.url }}
                    {% else %}
                        {% static 'department/images/no-thumb.png' %}
                    {% endif %}"
                    alt="{{ post.title }}" title="{{ post.title }}" class="responsive-img left-image">
                {% autoescape off %}
                    {{ post.render_content }}
                {% endautoescape %}
            </div>
            <div class="col s12 hide-on-small-and-down">
                <div class="info-block">
                    <div class="inside-block ">
                        <span class="valign-wrapper">
                            <i class="material-icons">event</i>
                            <a href="#"><span class="valign text">{{ post.publication_date_time }}</span></a>
                        </span>
                    </div>
                    <div class="inside-block ">
                        <span class="valign-wrapper">
                            <i class="material-icons">visibility</i><span class="valign text">{{ post.views }}</span>
                        </span>
                    </div>
                    {% block large_and_medium_info_block_after_inner_html %}
                    {% endblock %}
                </div>
            </div>
            <div class="col s12 hide-on-med-and-up">
                <div class="info-block">
                    <div class="inside-block ">
                        <span class="valign-wrapper">
                            <i class="material-icons">event</i><a href="#"><span class="valign text">25.05.2016</span></a>
                        </span>
                    </div>
                    {% block small_info_block_after_inner_html %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}