{% extends 'department/index.html' %}

{% load staticfiles %}

{% block head-title-content %}Оголошення{% endblock %}

{% block xhead-extra-links %}
  <link href="{% static 'advertisement/css/advertisments-style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}

{% block slider %}{% endblock %}

{% block container %}
  <!--  CONTAINER-->
  <div class="container">
    <div class="row">
      <div class="col s12 m8">
        <div class="row">
          <!-- NEWS Large-->
          <div class="col s12 hide-on-med-and-down">
            <h4>Оголошення</h4>
            <div id="advertisements-start" class="divider  simple-blue"></div>
              {% for advertisement_object in first_page.object_list %}
                  <div class="row advertismant-record">
              <div class="col s12 title-container">
                <h4 class="advertismant-title"><a href="#">{{ advertisement_object.title }}</a></h4>
              </div>
              <div class="col s12">
                <div class="info-panel">
                  <i class="material-icons">local_offer</i>
                    {% for tag in advertisement_object.tag.all %}
                        <a href="#">{{ tag.name }}</a>,
                    {% endfor %}
                </div>
              </div>
              <div class="col s3">
                {% if advertisement_object.image %}
                    <img src="{{ advertisement_object.image.url }}" alt="" class="responsive-img">
                {% endif %}
              </div>
              <div class="col s9">
                {{ advertisement_object.main_message }}
              </div>
              <div class="col s12">
                <div class="info-block">
                  <div class="inside-block ">
                    <span class="valign-wrapper">
                      <i class="material-icons">event</i>
                        <a href="#"><span class="valign text">{{ advertisement_object.published_date_time }}</span></a>
                    </span>
                  </div>
                  <div class="inside-block ">
                    <span class="valign-wrapper">
                      <i class="material-icons">visibility</i>
                        <span class="valign text">{{ advertisement_object.views }}</span>
                    </span>
                  </div>
                  <div class="inside-block ">
                    <span class="valign-wrapper">
                      <i class="material-icons">person</i>
                        <a href="#"><span class="valign text">{{ advertisement_object.author }}</span></a>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="divider"></div>
              {% endfor %}
          </div>
          <!-- END NEWS -->
          <!-- NEWS Medium-->
          <div class="col s12 hide-on-small-and-down hide-on-large-only">
            <h4>Оголошення</h4>
            <div class="divider  simple-blue"></div>
            <div class="row advertismant-record">
              <div class="col s12 title-container">
                <h4 class="advertismant-title"><a href="#">Google’s crusade against Flash will take a huge step later this year</a></h4>
              </div>
              <div class="col s12">
                <div class="info-panel">
                  <i class="material-icons">local_offer</i><a href="#">Тег супертег</a>, <a href="#">Тег2 супертег</a>, <a href="#">Тег3</a>
                </div>
              </div>
              <div class="col s4">
                <img src="images/strawberries.jpg" alt="" class="responsive-img">
              </div>
              <div class="col s8">
                May 16th - While Google obviously has no control over the entirety of the web, they will use their influence to see that Flash dies. Google has detailed a plan to disable the Flash plugin in Google Chrome by the end of this year.
              </div>
              <div class="col s12">
                <div class="info-block">
                  <div class="inside-block ">
                    <span class="valign-wrapper">
                      <i class="material-icons">event</i><a href="#"><span class="valign text">25.05.2016<span></a>
                    </span>
                  </div>
                  <div class="inside-block ">
                    <span class="valign-wrapper">
                      <i class="material-icons">visibility</i><span class="valign text">10<span>
                    </span>
                  </div>
                  <div class="inside-block ">
                    <span class="valign-wrapper">
                      <i class="material-icons">person</i><a href="#"><span class="valign text">Name Name<span></a>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="divider"></div>
            <div class="row advertismant-record">
              <div class="col s12 title-container">
                <h4 class="advertismant-title"><a href="#">Google’s crusade against Flash will take a huge step later this year</a></h4>
              </div>
              <div class="col s12">
                <div class="info-panel">
                  <i class="material-icons">local_offer</i><a href="#">Тег супертег</a>, <a href="#">Тег2 супертег</a>, <a href="#">Тег3</a>
                </div>
              </div>
              <div class="col s12">
                May 16th - While Google obviously has no control over the entirety of the web, they will use their influence to see that Flash dies. Google has detailed a plan to disable the Flash plugin in Google Chrome by the end of this year.
              </div>
              <div class="col s12">
                <div class="info-block">
                  <div class="inside-block ">
                    <span class="valign-wrapper">
                      <i class="material-icons">event</i><a href="#"><span class="valign text">25.05.2016<span></a>
                    </span>
                  </div>
                  <div class="inside-block ">
                    <span class="valign-wrapper">
                      <i class="material-icons">visibility</i><span class="valign text">10<span>
                    </span>
                  </div>
                  <div class="inside-block ">
                    <span class="valign-wrapper">
                      <i class="material-icons">person</i><a href="#"><span class="valign text">Name Name<span></a>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END NEWS -->
          <!-- NEWS Small-->
          <div class="col s12 hide-on-med-and-up">
            <h4>Оголошення</h4>
            <div class="divider  simple-blue"></div>
            <div class="card advertismant-card">
              <div class="card-image">
                <img src="images/strawberries.jpg">
                <span class="card-title">Google’s crusade against Flash will take a huge step later this year</span>
              </div>
              <div class="card-content">
                <p>
                  <div class="info-panel">
                    <a href="#"><i class="material-icons">access_time</i>Тра 19, 2016 @ 15:54</a>
                    <a href="#"><i class="material-icons">remove_red_eye</i>34</a>
                  </div>
                </p>
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
              </div>
              <div class="card-action">
                <a href="#">Читати далі</a>
              </div>
            </div>
            <div class="card advertismant-card">
              <div class="card-content">
                <p>
                  <span class="card-title">Google’s crusade against Flash will take a huge step later this year</span>
                </p>
                <p>
                  <div class="info-panel">
                    <a href="#"><i class="material-icons">access_time</i>Тра 19, 2016 @ 15:54</a>
                    <a href="#"><i class="material-icons">remove_red_eye</i>34</a>
                  </div>
                </p>
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
              </div>
              <div class="card-action">
                <a href="#">Читати далі</a>
              </div>
            </div>
          </div>
          <!-- END NEWS -->
          <!-- Pagination -->
          <div class="col s12 center-align">
            <ul class="pagination">
              <li class="disabled edge"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                {% if paginator.num_pages != 0 %}
                    {% for page_number in paginator.page_range %}
                    <li class="waves-effect"><a href="#{{ page_number }}">{{ page_number }}</a></li>
                    {% endfor %}
                {% endif %}
              <li class="waves-effect edge"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="row">
          <!-- Search -->
          <div class="col s12 hide-on-med-and-down">
            <h4>Пошук</h4>
            <div class="divider simple-blue"></div>
            <div class="search">
              <form class="">
                <div class="row">
                  <div class="col s10">
                    <input class="" type="text" placeholder="Шукати тут..." required/>
                  </div>
                  <div class="col s2">
                    <button class="waves-effect waves-light btn blue-dark" type="submit"><i class="material-icons">search</i></button>
                  </div>
                </div>         
              </form>
            </div>
          </div>
          <!-- End Search -->
          <!-- Patners Block -->
          <div class="col s12 hide-on-med-and-down">
            <h4>Наші партнери</h4>
            <div class="divider simple-blue"></div>
            <div class="row parner-block">
              <div class="col s12">
                <div class="border">
                  <div class="row large valign-wrapper">
                    <div class="col s6 valign center">
                      <img src="images/youkon.png" alt="" class="responsive-img partner-image">
                    </div>
                    <div class="col s6 valign">
                      <a class="waves-effect waves-light btn partner-button top">Оголошення</a>
                      <a class="waves-effect waves-light btn partner-button">На сайт</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row parner-block">
              <div class="col s12">
                <div class="border">
                  <div class="row large valign-wrapper">
                    <div class="col s6 valign center">
                      <img src="images/harkiv.png" alt="" class="responsive-img partner-image">
                    </div>
                    <div class="col s6 valign">
                      <a class="waves-effect waves-light btn partner-button top">Оголошення</a>
                      <a class="waves-effect waves-light btn partner-button">На сайт</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="divider"></div>
          </div>
          <!-- Medium -->
          <div class="col s12 hide-on-small-and-down hide-on-large-only">
            <h4>Наші партнери</h4>
            <div class="divider simple-blue"></div>
            <div class="row parner-block">
              <div class="col s12">
                <div class="border">
                  <div class="row ">
                    <div class="col s12 center">
                      <img src="images/youkon.png" alt="" class="responsive-img partner-image med">
                    </div>
                    <div class="col s12">
                      <a class="waves-effect waves-light btn partner-button top">Оголошення</a>
                      <a class="waves-effect waves-light btn partner-button">На сайт</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row parner-block">
              <div class="col s12">
                <div class="border">
                  <div class="row ">
                    <div class="col s12 center">
                      <img src="images/harkiv.png" alt="" class="responsive-img partner-image med">
                    </div>
                    <div class="col s12">
                      <a class="waves-effect waves-light btn partner-button top">Оголошення</a>
                      <a class="waves-effect waves-light btn partner-button">На сайт</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Partners block -->

          <!-- Author raiting -->
          <div id="raiting_large_floating" class="col s12 hide-on-med-and-down">
            <h4>Рейтинг авторів</h4>
            <div class="divider simple-blue"></div>
            <div class="row parner-block">
              <div class="col s12">
                <div class="border author-border">
                  <div class="row valign-wrapper">
                    <div class="col s2 valign center raiting-number-container">
                      <span class="raiting-number">1</span>
                    </div>
                    <div class="col s10 valign">
                      Youkone software
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row parner-block">
              <div class="col s12">
                <div class="border author-border">
                  <div class="row valign-wrapper">
                    <div class="col s2 valign center raiting-number-container">
                      <span class="raiting-number">2</span>
                    </div>
                    <div class="col s10 valign">
                      Datawiz
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row parner-block">
              <div class="col s12">
                <div class="border author-border">
                  <div class="row valign-wrapper">
                    <div class="col s2 valign center raiting-number-container">
                      <span class="raiting-number">3</span>
                    </div>
                    <div class="col s10 valign">
                      Bwijnvijenji
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row parner-block">
              <div class="col s12">
                <div class="border author-border">
                  <div class="row valign-wrapper">
                    <div class="col s2 valign center raiting-number-container">
                      <span class="raiting-number">4</span>
                    </div>
                    <div class="col s10 valign">
                      rvrfvrvrvrv
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row parner-block">
              <div class="col s12">
                <div class="border author-border">
                  <div class="row valign-wrapper">
                    <div class="col s2 valign center raiting-number-container">
                      <span class="raiting-number">5</span>
                    </div>
                    <div class="col s10 valign">
                      rvrvrvrfvrfvrfv
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="divider"></div>
          </div>
          <!--Medium  -->
          <div id="raiting_med_floating" class="col s12  hide-on-small-and-down hide-on-large-only">
            <h4>Рейтинг авторів</h4>
            <div class="divider simple-blue"></div>
            <div class="row parner-block">
              <div class="col s12">
                <div class="border author-border">
                  <div class="row valign-wrapper">
                    <div class="col s3 valign center raiting-number-container">
                      <span class="raiting-number">1</span>
                    </div>
                    <div class="col s9 valign">
                      Youkone software
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row parner-block">
              <div class="col s12">
                <div class="border author-border">
                  <div class="row valign-wrapper">
                    <div class="col s3 valign center raiting-number-container">
                      <span class="raiting-number">2</span>
                    </div>
                    <div class="col s9 valign">
                      Datawiz
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row parner-block">
              <div class="col s12">
                <div class="border author-border">
                  <div class="row valign-wrapper">
                    <div class="col s3 valign center raiting-number-container">
                      <span class="raiting-number">3</span>
                    </div>
                    <div class="col s9 valign">
                      Bwijnvijenji
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row parner-block">
              <div class="col s12">
                <div class="border author-border">
                  <div class="row valign-wrapper">
                    <div class="col s3 valign center raiting-number-container">
                      <span class="raiting-number">4</span>
                    </div>
                    <div class="col s9 valign">
                      rvrfvrvrvrv
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row parner-block">
              <div class="col s12">
                <div class="border author-border">
                  <div class="row valign-wrapper">
                    <div class="col s3 valign center raiting-number-container">
                      <span class="raiting-number">5</span>
                    </div>
                    <div class="col s9 valign">
                      rvrvrvrfvrfvrfv
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="divider"></div>
          </div>
          <!-- End author raiting -->
        </div>
      </div>
    </div>
  </div>
  <!--  END CONTAINER-->
{% endblock %}

{% block xbody-extra-scripts %}
  <script src="{% static '' %}js/advertisments-init.js"></script>
  <script src="{% static '' %}js/advertisments-floating-block.js"></script>
{% endblock %}