{% extends 'department/publication_page.html' %}

{% load staticfiles %}

{% block head-title-content %}Оголошення{% endblock %}

{% block xhead-extra-links %}
    <link href="{% static 'advertisement/css/advertisements-style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}

{% block container_1_row_col_s12_m8_1_row_news_large_and_medium %}
    <div class="col s12 hide-on-small-only">
        <h4>Оголошення</h4>
        <div id="advertisements-start" class="divider  simple-blue"></div>
        {% for advertisement in active_page %}
            <div class="row advertisement-record">
                <div class="col s12 title-container">
                    <h4 class="advertisement-title"><a href="#">{{ advertisement.title }}</a></h4>
                </div>
                <div class="col s12">
                    <div class="info-panel">
                        <i class="material-icons">local_offer</i>
                        {% for tag in advertisement.tag.all %}
                            <a href="#">{{ tag.name }}</a>,
                        {% endfor %}
                    </div>
                </div>
                <div class="col s3 m4">
                    <img src="
                        {% if advertisement.image %}
                            {{ advertisement.image.url }}
                        {% else %}
                            {% static 'department/images/no-thumb.png' %}
                        {% endif %}"
                    alt="{{ advertisement.title }}" title="{{ advertisement.title }}"
                    class="responsive-img">
                </div>
                <div class="col s9 m8">
                    {{ advertisement.main_message }}
                </div>
                <div class="col s12">
                    <div class="info-block">
                        <div class="inside-block ">
                            <span class="valign-wrapper">
                                <i class="material-icons">event</i>
                                <a href="#"><span class="valign text">{{ advertisement.published_date_time }}</span></a>
                            </span>
                        </div>
                        <div class="inside-block ">
                            <span class="valign-wrapper">
                                <i class="material-icons">visibility</i>
                                <span class="valign text">{{ advertisement.views }}</span>
                            </span>
                        </div>
                        <div class="inside-block ">
                            <span class="valign-wrapper">
                                <i class="material-icons">person</i>
                                <a href="#"><span class="valign text">{{ advertisement.author }}</span></a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
        {% endfor %}
    </div>
{% endblock %}

{% block container_1_row_col_s12_m8_1_row_news_small %}
    <div class="col s12 hide-on-med-and-up">
        <h4>Оголошення</h4>
        <div class="divider  simple-blue"></div>
        {% for advertisement in active_page %}
            <div class="card advertisement-card">
                <div class="card-image">
                    <img src="
                        {% if advertisement.image %}
                            {{ advertisement.image.url }}
                        {% else %}
                            {% static 'department/images/no-thumb.png' %}
                        {% endif %}"
                    alt="{{ advertisement.title }}" title="{{ advertisement.title }}" class="responsive-img">
                    <span class="card-title">{{ advertisement.title }}</span>
                </div>
                <div class="card-content">
                    <p>
                    <div class="info-panel">
                        <a href="#"><i class="material-icons">access_time</i>{{ advertisement.published_date_time }}</a>
                        <a href="#"><i class="material-icons">remove_red_eye</i>{{ advertisement.views }}</a>
                    </div>
                    <p>{{ advertisement.main_message }}</p>
                </div>
                <div class="card-action">
                    <a href="#">Читати далі</a> <!-- TODO change href -->
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block container_1_row_col_s12_m4_1_row_advertisements %}
    <div id="raiting_large_floating" class="col s12 hide-on-med-and-down">
        <h4>Рейтинг авторів</h4>
        <div class="divider simple-blue"></div>
            <div class="row partner-block">
                <div class="col s12">
                    <div class="border author-border">
                        <div class="row valign-wrapper">
                            <div class="col s2 m3 valign center raiting-number-container">
                                <span class="raiting-number">1</span>
                            </div>
                            <div class="col s10 m9 valign">
                                Youkone software
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="row partner-block">
            <div class="col s12">
                <div class="border author-border">
                  <div class="row valign-wrapper">
                    <div class="col s2 m3 valign center raiting-number-container">
                      <span class="raiting-number">2</span>
                    </div>
                    <div class="col s10 m9 valign">
                      Datawiz
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="row partner-block">
            <div class="col s12">
                <div class="border author-border">
                    <div class="row valign-wrapper">
                        <div class="col s2 m3 valign center raiting-number-container">
                      <span class="raiting-number">3</span>
                    </div>
                        <div class="col s10 m9 valign">
                      Bwijnvijenji
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row partner-block">
            <div class="col s12">
                <div class="border author-border">
                    <div class="row valign-wrapper">
                        <div class="col s2 m3 valign center raiting-number-container">
                      <span class="raiting-number">4</span>
                    </div>
                        <div class="col s10 m9 valign">
                      rvrfvrvrvrv
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row partner-block">
            <div class="col s12">
                <div class="border author-border">
                    <div class="row valign-wrapper">
                        <div class="col s2 m3 valign center raiting-number-container">
                      <span class="raiting-number">5</span>
                    </div>
                        <div class="col s10 m9 valign">
                      rvrvrvrfvrfvrfv
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider"></div>
    </div>
{% endblock %}

{% block xbody-extra-scripts %}
    <script src="{% static 'advertisement/js/advertisements-init.js' %}"></script>
    <script src="{% static 'advertisement/js/advertisements-floating-block.js' %}"></script>
{% endblock %}