{% for advertisement in advertisements %}
    <div class="col s12 news advertisment">
        <div class="card">
            <div class="news-title">
                <span class="card-title">{{ advertisement.title }}</span>
            </div>
            <div class="card-content text-blue">
                <p>{{ advertisement.main_message }}</p>
            </div>
            <div class="card-action">
                <a href="#">More about this</a>
            </div>
        </div>
    </div>
{% endfor %}