{% for advertisement_object in page.object_list %}
    <div class="row advertismant-record">
              <div class="col s12 title-container">
                <h4 class="advertismant-title"><a href="#">{{ advertisement_object.title }}</a></h4>
              </div>
              <div class="col s12">
                <div class="info-panel">
                  <i class="material-icons">local_offer</i>
                    {% for tag in advertisement_object.tag.all %}
                        <a href="#">{{ tag.name }}</a>,
                    {% endfor %}
                </div>
              </div>
              <div class="col s3">
                {% if advertisement_object.image %}
                    <img src="{{ advertisement_object.image.url }}" alt="" class="responsive-img">
                {% endif %}
              </div>
              <div class="col s9">
                {{ advertisement_object.main_message }}
              </div>
              <div class="col s12">
                <div class="info-block">
                  <div class="inside-block ">
                    <span class="valign-wrapper">
                      <i class="material-icons">event</i>
                        <a href="#"><span class="valign text">{{ advertisement_object.published_date_time }}</span></a>
                    </span>
                  </div>
                  <div class="inside-block ">
                    <span class="valign-wrapper">
                      <i class="material-icons">visibility</i>
                        <span class="valign text">{{ advertisement_object.views }}</span>
                    </span>
                  </div>
                  <div class="inside-block ">
                    <span class="valign-wrapper">
                      <i class="material-icons">person</i>
                        <a href="#"><span class="valign text">{{ advertisement_object.author }}</span></a>
                    </span>
                  </div>
                </div>
              </div>
    </div>
    <div class="divider"></div>
{% endfor %}