{% for fact in facts %}
    <div class="row valign-wrapper">
    {% if fact.arguments.first.type.name == 'chart section' %}
        <div class="col s4 pie-chart">
            <canvas id="fact-chart-area-{{ fact.id }}" width="300" height="300"></canvas>
        </div>
    {% elif fact.arguments.first.type.name == 'number' %}
        <div class="col s4">
            <h4 class="center-align text-blue">{{ fact.arguments.first.value }}</h4>
        </div>
    {% endif %}
    <div class="col s8">
        <span class="center-align">{{ fact.description }}</span>
    </div>
    </div>
{% endfor %}