/* Custom Stylesheet */

/* Background Colors */
.blue-super-light {
  background-color: #f6fbfe !important;
}

.blue-light {
	background-color: #d9e7ef !important;
}

.simple-blue {
	background-color: #057dc8 !important;
}

.blue-dark {
	background-color: #063c5e !important;
}

.blue-super-dark {
	background-color: #042e47 !important;
}
/* End Background Colors */

/* Text Colors */
.text-blue {
	color: #063c5e !important;
}

.text-white {
	color: #f7fbfd !important;
}
/* End Text Colors */

/* NavBar css */
nav ul li:hover {
   background-color: #063c5e;
}

nav ul li.non-hover:hover {
   background-color: transparent;
}

.dropdown-content a {
  color: #063c5e !important;
}

.login-mobile-btn {
	float: right !important;
}


/* end NavBar css */

/* MOBILE SIDE-NAV */
.mobile-nav.side-nav a {
	color: #fff;
}

.mobile-nav.side-nav li {
	padding: 0px;
}

.mobile-nav.side-nav li:hover, .mobile-nav.side-nav li.active {
  background-color: #063c5e;
}

.mobile-nav .dropdown-content li:hover {
	background-color: #d9e7ef;
}
/* END MOBILE SIDE-NAV*/
 
.divider {
	height: 2px;
}

.container {
    width: 90%;
}

/* news css */
.row.news-record {
	margin-bottom: 0px;
}

.news-record {
	padding: 10px 0;
}

.news-record h4 {
	margin: 0px;
}

.news-title {
	width: 100%;
	color: #042e47;
}

.news-title a:hover {
	text-decoration: underline;
	color: #03B8E5;
}

@media only screen and (max-width: 600px) {
  	.news-title {
		font-size: 16px;
	}
}

@media only screen and (min-width: 601px) {
  	.news-title {
		font-size: 18px;
	}
}

@media only screen and (min-width: 993px) {
  	.news-title {
		font-size: 24px;
	}
}

.info-panel {
	color: #909090;
	display: inline-block;
	padding-bottom: 10px;
	font-size: 11px;
	font-family: Arial,Helvetica Neue,sans-serif;
}

.info-panel a {
	color: #909090;
	display: inline-block;
	margin-right: 5px;
}

.info-panel a:hover {
	text-decoration: underline;
}

.info-panel .material-icons {
	font-size: 11px;
}

.info-block {
	border: 1px solid #159fd8;
	display: inline-block;
	color: #909090;
	font-size: 12px;
	font-family: Arial,Helvetica Neue,sans-serif;
}

.info-block a {
	color: #909090;
	display: inline-block;
	margin-right: 5px;
}

.info-block a:hover {
	text-decoration: underline;
}

.info-block .material-icons {
	font-size: 18px;
}

.info-block .inside-block {
	display: inline-block;
	padding: 10px;
}

.hide-on-med-and-up .info-block .inside-block {
	font-size: 11px;
	padding-right: 5px;
	padding-left: 5px;
}

.info-block .inside-block:not(:last-child){
	border-right: 1px solid #e1e1e1;
}

.info-block .inside-block .text{
	margin-left: 10px;
	margin-right: 10px;
}


.read-more-button {
	padding: 0 1rem;
	font-size: 14px;
	box-shadow: none;
	background-color: #039be5 !important;
	color: #fff;
}

.read-more-button:hover {
	box-shadow: none;
	background-color: #03B8E5 !important;
}

.news-card .card-image .card-title  {
	width: 100%;
	color: #063c5e;
	background: rgba(217, 231, 239, .7);
	padding: 5px;
}

.news-card .info-panel {
	padding-top: 10px;
}

.news-card .card-content .card-title  {
	color: #063c5e;
	line-height: normal;
}

.news-card .card-action a {
	color: #039be5 !important;
}

/* End news */

.pagination li.active {
	background-color: #042e47;
}

.pagination li.edge {
	padding: 0px;
}


.show-more-button {
	background-color: #d9e7ef !important;
	color: #042e47;
}
/* Advertisements */

.advertisement {
	margin-top: 10px; 
	margin-bottom: 0px;
}

.advertisement-title a {
	color: #042e47;
}

@media only screen and (min-width: 601px) {
	.advertisement-title {
		font-size: 18px;
	}
}

@media only screen and (min-width: 993px) {
  	.advertisement-title {
		font-size: 20px;
	}
}

.up_button {
	text-decoration: none;
	position:fixed;
	display:none;
}

@media only screen and (max-width: 600px) {
	.up_button{
		bottom: 5px;
		right: 5px;
	}
}

@media only screen and (min-width: 601px) {
	.up_button{
		bottom: 75px;
		right: 5px;
	}
}

@media only screen and (min-width: 993px) {
  	.up_button {
		bottom:75px;
		right:40px;
	}
}

/* User menu */
.user-menu li a {
	color: #fff !important;
}

.user-menu li:hover {
	background-color: #063c5e;
}

.user-profile{
	margin: 0px;
	border-radius: 0px;
	padding: 15px;
}

.user-profile-avatar {
	margin-right: 10px;
}

.user-avatar-image {
	border-radius: 2px;
}

.user-profile-name {
	font-size: 14px;
	font-weight: 700;
}
/* End user menu */

/* Search form */

.search {
	padding-top: 10px;
	padding-bottom: 10px;
}

.search button {
	width: 100%;
	padding: 10px;
	height: 44px;
	border-radius: 0px;
	line-height: normal;
}

.search input {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  border: 2px solid #063c5e;
  padding: 12px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.search .row .col.s10 {
	padding-right: 0px;
}

.search .row .col.s2 {
	padding-left: 0px;
}

.search input[type="text"] {
  margin: 0px;
  background: #fff;
  color: #063c5e;
}

.search input[type="text"]:focus {
	border-bottom: none !important;
	box-shadow: none !important;
	border: 2px solid #063c5e !important;
}


.side-nav-search {
	line-height: 64px;
}

.input-field input[type=search] {
	margin: 0px;
	height: 64px;
}
/* FLOATING BLOCK */
.float-block {
	position: fixed;
	top: 0px;
}

@media only screen and (min-width: 600px) {
	.float-block {
		/* Dont add nothing */
	}
}

/* FOOTER */



/* END FOOTER */
