.footer-block h5 {
color: #3385ff;
}

.footer-block ul li :before {
content: "•";
color: #3385ff;
margin-right: 10px;
}

.footer-block.personalization ul li :before {
content: "";
color: #3385ff;
margin-right: 0;
}

.personalization-ul .material-icons {
font-size: 16px;
margin-right: 5px;
color: #3385ff;
}


.update input {
box-sizing: border-box;
display: block;
width: 100%;
border: 1px solid;
padding: 16px;
outline: 0;
font-family: inherit;
font-size: 0.95em;
margin-top: 5px;
margin-bottom: 5px;
}

.update input[type="text"] {
margin: 0;
background: #fff;
border-color: #bbb;
color: #555;
}

/* Text fields' focus effect */
.update input[type="text"]:focus {
border-bottom: none !important;
border-color: #888;
}


.update input[type="submit"] {
display: inline-block;
background: #057dc8;
border-radius: 2px;
border-color: transparent;
color: #fff;
width: auto;
padding: 10px;
cursor: pointer;
}

.update input[type="submit"]:hover {
background: #0d8bda;
}

/* Buttons' focus effect */
.update input[type="submit"]:focus {
border-color: #05a;
}