/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

@media only screen and (min-width: 993px) {
  .container {
    width: 85%;
  }
}

.focus-card {
	margin: 0px;
}

input[type=search] {
	background: rgba(255,255,255,0.3);
}

.input-field input[type=search]:focus {
	background-color: #90caf9;
}

.mobile-search-field {
	background: rgba(255,255,255,0.3);
}

.logo-row{
	margin-bottom: 0px;
}

@media only screen and (min-width: 993px) {
  nav a.brand-logo {
    display: none;
  }
}

.focus-card-panel {
	padding: 10px;
}

.right-block {
	background-color: #e3f2fd;
}

.interesting-fact {
	margin-top: 5px;
}

.news-img-right {
	float: right;
	margin: 10px;
}

.news-img-left {
	float: left;
	margin: 10px;
}